// GeoGebra calculator
@use 'components/helpers/dialogs' as dialogs;

$navbar-breakpoint: 856px !default;

.ptx-calculator-container {
  position: fixed;
  z-index: 100;
  top: max(10px, calc(100vh - 650px));
  left: max(10px, calc(100vw - 350px));
  padding: 0;
  width: 330px;
  height: 600px;
  resize: both;
  overflow: hidden;
  flex-direction: column;
  @include dialogs.ptx-dialog-modal;
}

.ptx-calculator-container[open] {
  display: flex;
}

.ptx-geogebra-calculator {
  flex: 1;

  .button {
    all: unset;  //get rid of ptx ".button" styles that interfere with geogebra's buttons
  }
}