.interactive-iframe-container {
  max-width: 100%;
  overflow: auto;
  & > iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.interactive__instructions {
  // ensure interactive instructions stay normal width
  max-width: var(--base-content-width);
}

// center instructions and iframes on standalone pages
.standalone-page .interactive-iframe-container {
  margin-left: auto;
  margin-right: auto;
}
.standalone-page .interactive__instructions {
  margin: 5px auto 20px;
}

.interactive-iframe-container__opener {
  display: block;
  margin-right: 5px;
  margin-top: 11px;
  margin-bottom: 5px;
  font-size: 0.8rem;
  & .icon {
    font-size: 18px;
  }

  // if figcaption or instructions follow, this should float next to that
  &:has(+ figcaption, + .instructions) {
    float: left;
    z-index: 1; // place above fig caption in render stack
    position: relative;  // for z-index
  }

  // and if both, the figcaption should clear
  + .instructions + figcaption {
    clear: left;
  }

  + .instructions {
    margin-top: .5em;
  }
}

.interactive-iframe-container + .interactive {}