// Misc styles for interactive bits that should only be incldued in a web context
// (not ebook)

.interactive-iframe-container {
  max-width: 100%;
  overflow: auto;
  & > iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.interactive__instructions {
  // ensure interactive instructions stay normal width
  max-width: var(--base-content-width);
}

// center instructions and iframes on standalone pages
.standalone-page .interactive-iframe-container {
  margin-left: auto;
  margin-right: auto;
}
.standalone-page .interactive__instructions {
  margin: 5px auto 20px;
}

.interactive-iframe-container__opener {
  display: block;
  margin-right: 5px;
  margin-top: 11px;
  margin-bottom: 5px;
  font-size: 0.8rem;
  & .icon {
    font-size: 18px;
  }

  // if figcaption or instructions follow, this should float next to that
  &:has(+ figcaption, + .instructions) {
    float: left;
    z-index: 1; // place above fig caption in render stack
    position: relative;  // for z-index
  }

  // and if both, the figcaption should clear
  + .instructions + figcaption {
    clear: left;
  }

  + .instructions {
    margin-top: .5em;
  }
}


.clipboardable {
  position: relative;  // To anchor the code-copy button
  display: flow-root;

  .code-copy {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.25;
    border-width: 0;
    background: none;
    cursor: pointer;
    z-index: 1;
    white-space-collapse: collapse;
    padding: 1px;
    scale: 0.85;

    &:hover {
      opacity: 0.7;
    }

    .checkmark {
      display: none;
    }

    &.copied {
      opacity: 1;
      color: mediumseagreen;
      cursor: not-allowed;
      pointer-events: none;

      .copyicon {
        display: none;
      }

      .checkmark {
        display: inline;
      }
    }
  }
}

// if code-display clipboardable, move margin to that container and turn some into padding
// to help make sure clipboard icon is contained inside the code-display in dark mode
.clipboardable:has(.code-display) {
  margin: 0.25em 0;

  .code-display {
    margin: 0;
    padding: 0.25em 0;
  }
}