// TODO - needs refactoring and dark mode update

@use 'components/helpers/buttons-default' as buttons;

/*  WW problems */
.ptx-content .wwprob table.attemptResults {
  margin-left: 2em;
  background: #efefef;
  padding: 0.2em;
}

.ptx-content .wwprob table.attemptResults + .attemptResultsSummary {
  margin-top: 1em;
}

.ptx-content .wwprob .problem-main-form {
  margin-top: 1em;
  background: #eeeeff;
  padding: 0.5em;
}

.ptx-content .wwprob td.ResultsWithoutError {
  background: #9f9;
}

.ptx-content .wwprob td.ResultsWithError {
  background: #f99;
}

.ptx-content .wwprob tr th {
  text-align: center;
  padding: 0.2em 1em 0.2em 1em;
}

.ptx-content .wwprob tr td {
  text-align: center;
}

.ptx-content .wwprob tr td:empty {
  background: #fff;
}

.ptx-content .wwprob ol,
.ptx-content .wwprob ul {
  margin-top: 0.75em !important;
}

.ptx-content .wwprob .problem {
  background: #fdfdfd;
}

.ptx-content .wwprob .problem a {
  text-decoration: none;
}

.ptx-content .wwprob #footer {
  font-size: 70%;
  text-align: right;
}

/* interactive WeBWorK */

label.webwork {
  display: inline-flex;
  flex-direction: column;
}

label.correct .status {
  background-color: #a0f0a0;
}

label.partly-correct .status {
  color: #ffcc66;
}

label.incorrect .status {
  color: #b00;
}

label.incorrect .status::before {
  content: " ";
}

label.feedback {
  word-wrap: break-word;
}

label.correct .feedback {
  background-color: #00ffcc;
}

label.partly-correct .feedback {
  color: #ffcc66;
}

label.incorrect .feedback {
  color: #e07070;
}

.webwork img,
.webwork + .knowl-output img {
  max-width: 100%;
}

// Make the default margin for items inside the exercise-wrapper similar to
// default for items in a section
.exercise-wrapper > *:not(:first-child) {
  margin-top: 1.5em;
}

.ptx-content .problem-buttons {
  display: flex;
}

.ptx-content .webwork-button {
  @include buttons.ptx-button;
}
