/*** Some PreTeXt overrides ***/
/*
@media (min-width: 801px) {
  .title-container .title {
    font-size: unset;
    font-weight: unset;
  }
}
*/
.ptx-masthead .title-container > .heading {
  line-height: unset;
}
/*
.ptx-masthead .title-container > .heading {
  font-family: unset;
  font-weight: unset;
  font-size: unset;
  line-height: unset;
  color: unset;
}
*/
.ptx-masthead .byline {
  margin: unset;
  font-size: unset;
  line-height: unset;
  font-family: unset;
}

.ptx-masthead .ptx-banner {
    border-top: 1px solid transparent;
    border-bottom: none;
    overflow: hidden;
    padding-top: 0.625em;
    padding-bottom: 1.125em;
}

.ptx-content .summary-links a {
    display: block;
    padding: .6em;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
}

.ptx-content .summary-links a .codenumber {
    color: var(--bluegreen)
}

.ptx-content .summary-links a .title {
    font-weight: 600;
}

.ptx-content .summary-links a:hover {
    color: #fff;
    background: var(--bluegreen);
}

.ptx-content .summary-links ul,
.ptx-content .summary-links ul li {
    display: grid;
    list-style-type: none;
    min-width: 300px;
    padding-inline-start: 0px;
    font-family: "Open Sans", sans-serif;
    justify-items: stretch;
    margin: 2px auto 3px auto;
}


.ptx-content .summary-links > ul {
    //   text-align: left;
}

@media screen and (min-width: 600px) {
    .ptx-content .summary-links ul,
    .ptx-content .summary-links ul li {
	width: 60vw;
	max-width: 500px;
    }
}

@media screen and (min-width: 700px) {
    .ptx-content .summary-links ul,
    .ptx-content .summary-links ul li {
	width: 55vw;
	max-width: 500px;
    }
}

@media screen and (min-width: 800px) {
    .ptx-content .summary-links ul,
    .ptx-content .summary-links ul li {
	width: 49vw;
	max-width: 500px;
    }
}
/*** End PreTeXt overrides ***/



.ptx-masthead .title-container {
    font-size: 1em;
    padding-left: 9.68px;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    .ptx-masthead .title-container {
	padding: 0;
	text-align: center;
    }
}

.ptx-masthead .title-container > .heading {
    margin: 0;
    font-size: 2em;
}

.ptx-masthead .title-container > .heading.hide-type .type {
    display: none;
}
.ptx-masthead .title-container > .heading.hide-codenumber .codenumber {
    display: none;
}
.ptx-masthead .title-container > .heading.hide-title .title {
    display: none;
}

/*
@media screen and (max-width: 480px) {
  .ptx-masthead .title-container > .heading {
    font-size: 1.5em;
    line-height: 1.25em;
    margin: 0;
    margin-bottom: 0.41667em;
  }
}


.ptx-masthead .title-container > .heading a {
    color: #932919;
    background: none;
    text-decoration: none;
}



.ptx-masthead .title-container > .heading a:active {
    color: #3572a0;
}
*/

.ptx-masthead .title-container > .heading .subtitle {
    font-weight: normal;
}


@media screen and (max-width: 800px) {
    .ptx-masthead .title-container > .heading .subtitle {
	/* Force the subtitle onto a separate line */
	display: block;
	/* De-emphasize relative to main title */
	color: #595959;
	/* Remove colon */
    }
    .ptx-masthead .title-container > .heading .subtitle:before {
	content: normal;
    }
}


.ptx-masthead .byline {
    color: #333333;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
    min-height: inherit;
}



@media screen and (max-width: 480px) {
    .ptx-masthead .byline {
	margin-top: 0;
	font-size: 1em;
	line-height: 1.25em;
    }
}




.ptx-masthead .byline a {
    color: #333333;
}
.ptx-masthead .byline a:active {
    color: #3572a0;
}


.ptx-masthead .ptx-banner .title-container .heading {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* .ptx-masthead-banner  */
.ptx-masthead .ptx-banner {  /* maybe .ptx-masthead > .ptx-banner? */
    max-width: 904px;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "ptx-logobox ptx-title-byline-box";
    background-color: #fff; /* #fafafa;  */
    padding: 0px 20px 0px 20px;
/*
    justify-self: stretch;
*/

}

.title-container .title  {
    color: var(--bodytitle);
}

.title-container .subtitle  {
    color: var(--bodysubtitle);
}

/* Adjust font sizes by screen sizes */
/* Phones */
.title-container {
    margin-top: 0px;
}

.title-container  .title {
    font-size: .6em;
    font-weight: 600;
}

.title-container  .subtitle {
    font-weight: normal;
    font-size: .5em;
}



/* Larger than mobile */
@media (min-width: 400px) {

    .title-container {
	margin-top: 0px;
    }

    .title-container  .title {
	font-size: .7em;
	font-weight: 600;
    }

    .title-container  .subtitle {
	font-weight: normal;
	font-size: .6em;
    }


}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

    .title-container {
	margin-top: 3px;
    }

    .title-container  .title {
	font-size: .9em;
	font-weight: 600;
    }

    .title-container  .subtitle {
	font-weight: normal;
	font-size: .7em;
    }


}

/* Large screens */
@media (min-width: 801px) {

    .title-container {
	margin-top: 5px;
    }

    .title-container  .title {
	font-size: 1.0em;
	font-weight: 600;
    }

    .title-container  .subtitle {
	font-weight: normal;
	font-size: .8em;
    }


}



/* .ptx-logobox  */
.logo-link {
    grid-area: ptx-logobox;
    color: #000;
    padding: 15px 0px 0px 0px;
    justify-self: stretch;
}

/* Fix the width of logo to always be 50px */
/* .ptx-logobox img  */
.ptx-masthead .logo-link img {
    width: 50px;
}

/* .ptx-title-byline-box  */
.title-container {
    grid-area: ptx-title-byline-box;
    color: #000;
    padding: 0px 0px 0px 0px;
    justify-self: stretch;
}

/* ptx-searchbox */
.searchbox {
    grid-area: ptx-searchbox;
}
