/*
  main knowls styles
*/

.knowl__link {
    cursor: pointer;
    margin-left: 0.1em;
    margin-right: 0.1em;
    color: var(--knowlLinkColor);
    border-bottom: 1px dotted var(--knowlLinkColor);
}

summary.knowl__link {
    display: list-item inline;
}

.knowl__link > * {
    display: inline;
}


.knowl__link:is(:hover, :focus, [open]) {
    background-color: var(--knowlbackground);
    border-bottom-color: transparent;
}

.knowl__content {
    margin: 0.2em;
    border: 6px solid var(--knowlborder);
    border-radius: 0.4em;
    padding: 0.8em;
    background-color: var(--knowlbackground);
}


/* No Greg's L in knowls, to save space */
.ptx-content .knowl__content > article:is(.theorem-like, .definition-like, .example-like, .project-like, .objectives, .outcomes, .remark-like, .proof)::after {
    content: '' !important;
    border-bottom: none;
    margin: 0;
    padding: 0;
    width: 0;
}
.ptx-content .knowl__content > article:is(.theorem-like, .definition-like, .example-like, .project-like, .objectives, .outcomes, .remark-like) {
    padding-left: 0;
    border-left: none;
}
.ptx-content .knowl__content > article:is(.proof) {
    padding-right: 0;
    border-right: none;
}


/* nested knowl alt colors */
.knowl__content .knowl__content {
    background-color: var(--knowlNested1Background);
}
.knowl__content .knowl__content .knowl__content {
    background-color: var(--knowlNested2Background);
}
.knowl__content .knowl__content .knowl__content .knowl__content {
    background-color: var(--knowlNested3Background);
}
.knowl__content .knowl__content .knowl__content .knowl__content .knowl__content {
    background-color: var(--knowlNested4Background);
}


/* spacing tweaks inside knowls */
.ptx-content .knowl__content > figure {
    margin-left: 0;
    margin-right: 0;
}