/***********************************************************************
Copyright 2013 Robert A. Beezer

This file is part of MathBook XML.

MathBook XML is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 or version 3 of the
License (at your option).

MathBook XML is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with MathBook XML.  If not, see <http://www.gnu.org/licenses/>.
***********************************************************************/


/* Like chapter, section headings */
.headerblock .title,
.headerblock .event,
.headerblock .author-name, 
.preface .title,
.bibliography .title {
        font-weight: bold;
        line-height: 1.3;
        margin-top: 1em;
        margin-left: 0;
        color: #990000;
}


.author-email {
    font-family: "Source Code Pro", Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }

.preface .title {
        margin: .8em 0 0 -4%;
        font-weight: bolder;
        font-size: large;
}

/* mimic sections? */
.bibliography .title {
        margin: .8em 0 0 -3%;
}





.subsubsection .title {
        margin: .8em 0 0 -1%;
}


/* Markup */
.booktitle {
    font-style:oblique;
    }

.articletitle:before, .articletitle:after {
    content:'"';
    }

.blockquote {
    margin-bottom:3em;
    margin-right:5em;
    margin-left:5em;
    }
.blockquote .attribution {
    float:right;
    }

/* TODO: unicode for mdash */
.attribution:before{
    content:"- "
    }

/* Figures */

.figure {
    text-align: center;
    }

/*     Bibliography */
.bibliography .article .title {
        font-weight: normal;
        line-height: 1.3;
        margin-top: 1em;
        margin-left: 0;
        color: black;
}

.bibliography .book .title {
        font-weight: normal;
        font-style: oblique;
        line-height: 1.3;
        margin-top: 1em;
        margin-left: 0;
        color: black;
}

/* Internationalization */
/* Put any strings here */



/* ############################################# */


/* Main body margin, etc */
html body {
        font-family: "Istok Web", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 1em 8% 1em 10%;
        line-height: 1.2;
        color: black;
        font-size: normal;
}

/* Top level (article, book) */
/* http://css-tricks.com/child-and-sibling-selectors/ */
.book > .heading > .title {
        text-align: center;
        margin: .8em 0 0 -5%;
        padding: 2em;
        font-weight: bolder;
        font-size: x-large;
        color: #990000;
}

.article > .heading > .title,
.article > .heading > .event {
        margin: .8em 0 0 -4%;
        font-weight: bolder;
        font-size: large;
        color: #990000;
}

.author-info, .date, .copyright {
        padding-bottom:1em;
}

.toc {
        padding-bottom:1em
}

/* put Preface here also? */
.toc > .heading {
        margin: .8em 0 0 -4%;
        padding-bottom: 1em;
        font-weight: bolder;
        font-size: large;
        color: #990000;
}

.toc-entry {
        padding-bottom: 0.5em
}

/* Chapters */
/* Override spans to get LaTeX style */

.chapter > .heading {
        margin: .8em 0 0 -4%;
        font-weight: bolder;
        font-size: large;
        color: #990000;
}

.chapter > .heading > .number {
        display: block;
}

.chapter > .heading > .title {
        display: block;
}

.chapter > .heading > .number:before {
        content: "Chapter ";
}

/* Sections */
/* No "Section" and keep spans, to get LaTeX style */

.section > .heading {
        margin: .8em 0 0 -3%;
        font-weight: bolder;
        font-size: large;
        color: #990000;
}

.section > .heading > .number {
        display: inline;
}

.section > .heading > .title {
        display: inline;
}
.section > .heading > .number:before {
        content: "";
}

/* Subsections */
/* Similar to sections, but less so */

.subsection > .heading {
        margin: .8em 0 0 -2%;
        font-weight: bold;
        font-size: large;
        color: black;
}

.subsection > .heading > .number {
        display: inline;
}

.subsection > .heading > .title {
        display: inline;
}

/* Subsubsections */
/* Similar to sections, but less so */

.subsubsection > .heading {
        margin: .8em 0 0 -1%;
        font-weight: normal;
        font-size: normal;
        color: black;
}

.subsubsection > .heading > .number {
        display: inline;
}

.subsubsection > .heading > .title {
        display: inline;
}

/* Generic Tables */
.plain-table {
    margin: auto;
}

.plain-table td {
    padding: 2px;
    border: 1px solid black;
}



/* Navigation bar */

.page-nav-bar {
    width:100%;
    }

.page-nav-bar td {
    width:33%;
    }

.page-nav-bar td.previous {
    text-align:left;
    }

.page-nav-bar td.previous:before {
    content:"Prev: ";
    }

.page-nav-bar td.up {
    text-align:center;
    }

.page-nav-bar td.up:before {
    content:"Up: ";
    }

.page-nav-bar td.next {
    text-align:right;
    }

.page-nav-bar td.next:before {
    content: "Next: ";
    }

/* Theorems and Proofs */
/*   U+220E 'END OF PROOF', small black box for me                */
/*   U+2B1C 'WHITE LARGE SQUARE' is too big                       */
/*   U+25A1 is 'WHITE SQUARE' which seems to render bigger for me */
/*          Invisible until can get positiong correct after MathJax */
/*.tombstone:after {
    content: "\0025A1"
}*/

/* This behaves poorly after a MathJax display (\align) */
.tombstone {
    float:right;
}

/* Small units */

.theorem-header,
.corollary-header,
.lemma-header,
.definition-header,
.example-header,
.exercise-header,
.proof-header {
    font-weight: bold;
    }




/* Sage Cell appearance */
/* See issue #374 in Sage Cell github site */

.sagecell .CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}
.sagecell .CodeMirror {
    height: auto;
}

/* Inline code from "c" tags */
tt.code {
    font-family: "Source Code Pro", Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace
}
