
.ptx-toc {
  /* IMPORTANT height must be calculated by javascript. */
    width: 240px;
    margin: 0;
    font-size: 14.72px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Aligns toc to the top and side of the allotted space, respectively */
.ptx-toc ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}


/* Places codenumbers */
.ptx-toc .codenumber {
    position: absolute;
    margin-right: 0;
    margin-left: 0em;
/*
    margin-top: 0.4px;
*/
    left: 0.3em;
    display: inline-block;
}
/* no codenumbers on subsections */
.ptx-toc ul.structural ul.structural a > .codenumber {
    display: none;
}
.ptx-toc ul.structural .title {
    margin-left: 1.4em;
    display: inline-block;
}
.ptx-toc ul.structural ul.structural .title {
    margin-left: 1.5em;
}
.ptx-toc ul.structural ul.structural .title:empty::after {
    content: "empty heading!";
    font-weight: bold;
}
.ptx-toc ul.structural ul.structural ul.structural .title {
    margin-left: 2.5em;
    font-size: 90%;
}
.ptx-toc ul.structural ul.structural ul.structural ul.structural .title {
    margin-left: 3.2em;
    font-size: 90%;
    font-style: italic;
}

/* more specific than something in toc_default (obsolete comment?) */
.ptx-toc ul.structural li ul.structural li ul.structural li:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
}

.ptx-toc .part > a .codenumber {
    position: relative;
    display: block;
    float: left;
    margin-right: 0.7em;
}
.ptx-toc .part > a .title {
    display: block;
    margin-left: 1em;
}

.ptx-toc ul.structural li a {
    position: relative;
    display: block;
    padding: 2.86957px;
    padding: 0.2em;
//    padding-left: 0.5em;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    font-family: "PT Serif", "Times New Roman", Times, serif;
    font-weight: bold;
}
.ptx-toc ul.structural ul.structural li a {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
//    padding-left: 2.0em;
}

/* Sets spacing between section headings*/
.ptx-toc > ul.structural > li:not(:first-child) {
    margin-top: 0.3em;
}
/* But not at the start of a part */
/* I cannot see that this actually does anything --DF */
.ptx-toc > ul.structural > li.part + li,
.ptx-toc > ul.structural > li.frontmatter + li,
.ptx-toc > ul.structural > li.backmatter + li {
    margin-top: 0;
}
/* Removes underlines from links in toc */
.ptx-toc ul.structural li a, .ptx-toc ul.structural li a:link, .ptx-toc ul.structural li a:visited, .ptx-toc ul.structural li a:hover, .ptx-toc ul.structural li a:focus, .ptx-toc ul.structural li a:active {
    text-decoration: none;
}

/*
.ptx-toc > ul > li a, .ptx-toc > ul > li a:link, .ptx-toc > ul > li a:visited {
    font-weight: bold;
    font-family: "PT Serif", "Times New Roman", Times, serif;
    padding-left: 0.2em;
}
*/

/* Ensures that there is no double border between subsections */
.ptx-toc ul.structural li ul.structural a {
    border-top: none;
}

/* Allows both "top" and bottom border of a subsection to be highlighted on hover */
.ptx-toc ul.structural li ul.structural a:hover {
    border-top: 1px solid #3c110a;
    margin-top: -1px;
}

/* Removes the excess space between the last subsection and the next section (caused by
the margin on top of sections being used to space out adjacent sections) */
.ptx-toc ul.structural li ul.structural li:last-child {
    margin-bottom: -0.3em;
}

/* Removes double border between last subsection and next section */
.ptx-toc ul.structural li ul.structural li:last-child a {
    border-bottom: none;
}

.ptx-toc ul.structural li a:active {
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px inset;
}

.ptx-toc ul.structural li a.has-chevron {
  padding-right: 2em;
}
.ptx-toc .toc-item {
  position: relative;
}
