// This file contains functions and mixins for working with colors in SCSS

@use "sass:map";
@use "sass:color";

@mixin set-root-colors($colors, $dark-colors: null) {
  :root {
    color-scheme: light;
    // prevent variable leak through to dark
    &:not(.dark-mode) {
      @include scss-to-css($colors);
    }
  }

  @if $dark-colors {
    :root.dark-mode {
      color-scheme: dark;
      @include scss-to-css($dark-colors);
    }
  }
}

// Renders a map of SCSS variables as CSS variables
@mixin scss-to-css($colors) {
  @each $name, $value in $colors {
    --#{$name}: #{$value};
  }
}

// Create a map of colors that blend $color with $other at $mix-amounts
// The resulting map will have keys of the form 'color-other-10'
// Indicating 10% of other mixed into color
@function mixes($color, $other, $mix-amounts) {
  $result: ();

  @each $i in $mix-amounts {
    $result: map.set($result, '#{$color}-#{$other}-#{$i}', 'color-mix(in oklab, var(--#{$color}), #{$other} #{$i}%)');
  }

  @return $result;
}

$std-mixes: (1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 35, 40, 50, 60, 65, 70, 75, 80, 85, 90, 95, 96, 97, 98, 99);

// Creates a map of color blends for a given color
// By default it creates blends with black, white, and gray at $std-mixes amounts
// Mixing is done using css color-mix function so that if a theme file has the base
// css variable overridden, the blends will be updated accordingly
@function get-blends($color, $shades: $std-mixes, $tints: $std-mixes, $tones: $std-mixes, ) {
  $shades: mixes($color, black, $std-mixes);
  $tints: mixes($color, white, $std-mixes);
  $tones: mixes($color, gray, $std-mixes);

  $blends: map.merge(
    $tints,
    $shades
  );

  $blends: map.merge(
    $blends,
    $tones
  );
  @return $blends;
}

//--------------------------------------------------------------------------
// https://jonnykates.medium.com/automating-colour-contrast-ratios-with-sass-e201f3b52797
// Formula there has a typo, need parens around the sum of the three color channels

@function text-contrast($color, $light: #ffffff, $dark: #000000) {
  $color-brightness: round(
    (
      (color.red($color) * 299) +
      (color.green($color) * 587) +
      (color.blue($color) * 114)
    ) / 1000
  );

  $light-color: round(
    (
      (color.red(#ffffff) * 299) +
      (color.green(#ffffff) * 587) +
      (color.blue(#ffffff) * 114)
    ) / 1000
  );

  @if abs($color-brightness) < calc($light-color / 2){
    @return $light;
  } @else {
    @return $dark;
  }
}

// @debug "text-contrast(#7b7b55) should be #ffffff: " text-contrast(#7b7b55);
// @debug "text-contrast(#9b9b70) should be #000000: " text-contrast(#9b9b70);
// @debug "text-contrast(#766f7a) should be #ffffff: " text-contrast(#766f7a);
// @debug "text-contrast(#70909b) should be #000000: " text-contrast(#70909b);
//--------------------------------------------rgb(25, 25, 24)-----------------------
