
$border-width: 1px !default;

@mixin navbar-btn-borders {
  .ptx-navbar-contents {
    gap: $border-width;
    background: var(--page-border-color);

    & > .button,
    & > :not(dialog) > .button {
      border-left-width: 0;
      border-right-width: 0;
    }

    :is(.treebuttons, .nav-runestone-controls, .nav-other-controls) {
      gap: $border-width;
      background: var(--page-border-color);
    }
  }
}
