
#masthead .banner {
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid transparent;
    overflow: hidden;
    padding-top: 0.625em;
    padding-bottom: 1.125em;
}

/* newer, small top nav buttons */
#primary-navbar .navbar-top-buttons .toolbar-align-right .toolbar-item-middle {
    float: left;
    padding: 3px 6px 3px 6px;
    margin: 4px 10px 0px 10px;
    margin: 4px 10px 0px 195px;
    border: 1px solid #800;
    background-color: #ffe5e5;
    font-size: 90%;
}

#primary-navbar .navbar-top-buttons .toolbar-align-right .toolbar-item-middle a {
    color: #024;
}

#masthead.smallbuttons {
    max-width: 904px;
    border-right: 1px solid #bababa;
}

#primary-navbar .navbar-top-buttons {
    border-bottom: 1px solid #bababa;
}
#masthead.smallbuttons .banner {
    border-bottom: none;
}

#primary-navbar .navbar-top-buttons .toolbar-divisor-3 .button {
    border-top: 1px solid #bababa;
}

#primary-navbar .navbar-top-buttons .toolbar-divisor-3 {
    background-color: #fafafa;
}
#primary-navbar .navbar-top-buttons .toolbar-divisor-3 .index-button {
    width: 70px;
    text-align: center;
    border-right: 1px solid #bababa;
}
#primary-navbar .navbar-top-buttons .toolbar-divisor-3 .up-button {
    width: 60px;
    float: right;
    border-right: 1px solid #bababa;
}
#primary-navbar .navbar-top-buttons .toolbar-divisor-3 .up-button:before {
    text-align: left;
    width: 20px;
}
#primary-navbar .navbar-top-buttons .toolbar-divisor-3 .previous-button.toolbar-item {
    width: 70px;
    border-right: none;
    float: right;
}
/* extra .toolbar-item to overrive mathbook-add-on */
#primary-navbar .navbar-top-buttons .toolbar-divisor-3 .previous-button.toolbar-item {
    border-left: 1px solid #bababa;
    padding-right: 3px;
}
#primary-navbar .navbar-top-buttons .toolbar-divisor-3 .next-button {
    width: 70px;
    float: right;
    border-right: 1px solid #bababa;
}
#primary-navbar .previous-button::before {
    width: 27px;
}
#primary-navbar .next-button::after {
    width: 25px;
}

#primary-navbar .navbar-top-buttons .toolbar-divisor-3 .button.toggle {
    width: 60px;
    text-align: center;
    border-radius: 20px;
    margin-left: 5px;
    border: 2px solid #66f;
    line-height: 25px;
    margin-top: 3px;
    background-color: #eef;
}
#primary-navbar .navbar-top-buttons .toolbar-divisor-3 .button.toggle.open {
    background: #fee;
/*
    background-image: linear-gradient(163deg, transparent 0%, transparent 47%, #f66 47%, #f66 , #f66 53%, transparent 53%, transparent 100%);
*/
    border: 2px solid #f66;
}

#primary-navbar .threebuttons {
    float: right;
}

#primary-navbar .navbar-top-buttons .toolbar-divisor-3 .threebuttons .next-button, #primary-navbar .navbar-top-buttons .toolbar-divisor-3 .threebuttons .up-button, #primary-navbar .navbar-top-buttons .toolbar-divisor-3 .threebuttons .previous-button {
    float: left;
}

