/*
  Sample light, non-distracting focused TOC color scheme
  See colors_default for general color tips
*/

:root {
  /* -------- general -------- */
  --documenttitle: #343b48;
  --bodytitle: #2B5F82; 
  --bodysubtitle: #A62E1C;
  --bodytitlehighlight: #e0e9ff;
  --bodysubtitlehighlight: #fce5e4;

  --videoplay: var(--bodytitle);
  --assemblageborder: #1100aa;
  --assemblagebackground: #f5f8ff;

  --knowlborder: var(--bodytitlehighlight);
  --knowlbackground: var(--assemblagebackground);

  /* -------- TOC -------- */
  --toc-text-dark: #333;
  --tocborder: var(--toc-text-dark);
  --active-toc-item: #dbebf1;

  --parttoc: #e8e8e8;
  --parttoctext: var(--toc-text-dark);
  --parttocactive: var(--active-toc-item);
  --parttoctextactive: var(--toc-text-dark);

  --chaptertoc: #f2f2f2;
  --chaptertoctext: var(--toc-text-dark);
  --chaptertocactive: var(--active-toc-item);
  --chaptertoctextactive: var(--toc-text-dark);

  --sectiontoc: #fdfdfd;
  --sectiontoctext: var(--toc-text-dark);
  --sectiontocactive: var(--active-toc-item);
  --sectiontoctextactive: var(--toc-text-dark);

  --highlighttoc: #c2e5f2;
  --highlighttoctext: var(--toc-text-dark);
  --highlighttocborder: var(--chaptertoc);
}