
/* Colors for UPS */

:root {
  --documenttitle: #660000;
  --bodytitle: #8e0a0c; 
  --bodysubtitle: #A62E1C;
  --bodytitlehighlight: #eeeff3;  /* light, and contrasting to bodytitle  */
  --bodysubtitlehighlight: #fce5e4;  /* light, and contrasting to bodysubtitle  */
     /*
       The bodytitle and bodysubtitle colors must have at least a 3:1 contrast
       ratio with black, and at least 5:1 ratio with with the corresponding highlight.
       (The second condition will guarantee an adequate contrast with white.)
     */

  --chaptertoc: #6d8899;
  --chaptertoctext: white;
  --chaptertocactive: var(--documenttitle);   /* often the same as documenttitle */
  --chaptertoctextactive: white;
  --sectiontoc: white;   /* can also write it as #ffffff  */
  --sectiontoctext: #6f080b;
  --sectiontocactive: var(--documenttitle);   /* often the same as documenttitle */
  --sectiontoctextactive: white;
  --tocborder: #152f53;

  --highlighttoc: #330000;   /* often a dark version of documenttitle */
  --highlighttoctext: white;
  --highlighttocborder: var(--chaptertoc);

  --videoplay: var(--bodytitle);
  --assemblageborder: #1100aa;
  --assemblagebackground: #f5f8ff;

  --knowlborder: var(--bodytitlehighlight);
  --knowlbackground: var(--assemblagebackground);
}

