
/*
 There are five main choices that define a color scheme in the
 HTML output of PreTeXt:
 1) A dark color for the title on each page
 2) A dark color for highlighted words in the body
 3) A dark color for other highlighted words in the body

 In the CSS those are called 'documenttitle', 'bodytitle',
 and 'bodysubtitle'.

 The other two choices appear in the ToC.

 Either:
 3) A dark color for each chapter background
 4) A dark color for the current section background
 (Often the ToC section background equals documenttitle.

 Or:
 3') A light color for each chapter background
 4') A light color for the current section background

 In the CSS those are called 'chaptertoc' and 'sectiontoc',
 respectively.

 With 3) and 4) you need white letters to go on the dark
 background, and with 3') and 4') you need dark letters
 on the light background.  Set the color of those letters
 with 'chaptertoctext'.

 In addition to the above four choices, you need to 
 choose a contrasting shade of each color, to be used
 for highlighting, borders, etc.

 In the future you will be able to choose colors for assemblages
 and for knowl output
*/

:root {
  --documenttitle: #2a5ea4;
  --bodytitle: #2b5f82; 
  --bodysubtitle: #a62e1c;
  --bodytitlehighlight: #e0e9ff;  /* light, and contrasting to bodytitle  */
  --bodysubtitlehighlight: #fce5e4;  /* light, and contrasting to bodysubtitle  */
     /*
       The bodytitle and bodysubtitle colors must have at least a 3:1 contrast
       ratio with black, and at least 5:1 ratio with with the corresponding highlight.
       (The second condition will guarantee an adequate contrast with white.)
     */

  --chaptertoc: #28803f;
  --chaptertoctext: white;
  --chaptertocactive: var(--documenttitle);   /* often the same as documenttitle */
  --chaptertoctextactive: white;
  --sectiontoc: white;   /* can also write it as #ffffff  */
  --sectiontoctext: #20477b;
  --sectiontocactive: var(--documenttitle);   /* often the same as documenttitle */
  --sectiontoctextactive: white;
  --tocborder: #152f53;

  --highlighttoc: #20477b;   /* often a dark version of documenttitle */
  --highlighttoctext: white;
  --highlighttocborder: var(--chaptertoc);

  --videoplay: var(--bodytitle);
  --assemblageborder: #1100aa;
  --assemblagebackground: #f5f8ff;

  --knowlborder: var(--bodytitlehighlight);
  --knowlbackground: var(--assemblagebackground);

  /* Colors for block envirornments: */
  /* 
  We specify 4 color families (hues), each with 5 hue/lightness options, to be used by style files if they wish.  
  Primary and secondary are taken from the TOC color theme.
  Info is targeted to non-core content (asides, technology tips, etc)
  Alert is a jaring highling color (for warnings, cautions, etc).
  Each color has *light, *dark variants (adjusting the lightness of hsl) and *rich, *dull variants (adjusting the saturation).
  The *dark, if specified, should always contrast correctly with white text (we could later specify a *dark-text to be the correct contrast with *dark).
  */
  --primary: hsl(246, 60%, 60%);  /* #1100aa */
  --primarylight: hsl(246, 60%, 90%);  /* #1100aa */
  --primarydark: hsl(246, 60%, 20%);  /* #1100aa */
  --primaryrich: hsl(246, 100%, 60%);  /* #1100aa */
  --primarydull: hsl(246, 10%, 60%);  /* #1100aa */

  --secondary: hsl(136, 52%, 60%); /* chaptertoc */
  --secondarylight: hsl(136, 52%, 90%); /* same hue as chaptertoc */
  --secondarydark: hsl(136, 52%, 15%); /* chaptertoc */
  --secondaryrich: hsl(136, 100%, 50%); /* chaptertoc */
  --secondarydull: hsl(136, 10%, 50%); /* chaptertoc */

  --info: hsl(204, 86%, 60%);	
  --infolight: hsl(204, 86%, 90%);	
  --infodark: hsl(204, 86%, 20%);	
  --inforich: hsl(204, 100%, 50%);	
  --infodull: hsl(204, 15%, 60%);	

  --alert: hsl(8, 60%, 38%);
  --alertlight: hsl(8, 60%, 85%);
  --alertdark: hsl(8, 60%, 20%);
  --alertrich: hsl(8, 100%, 50%);
  --alertdull: hsl(8, 15%, 60%);
}

