/*
  Sample bolder focused TOC color scheme
  See colors_default for general color tips
*/


:root {
  /* -------- general -------- */
  --documenttitle: #343b48;
  --bodytitle: #2B5F82; 
  --bodysubtitle: #1d686e;
  --bodytitlehighlight: #e0e9ff; 
  --bodysubtitlehighlight: #fce5e4; 

  --videoplay: var(--bodytitle);
  --assemblageborder: #343b48;
  --assemblagebackground: #f5f8ff;

  --knowlborder: var(--bodytitlehighlight);
  --knowlbackground: var(--assemblagebackground);

  /* -------- TOC -------- */
  --toc-text-dark: #343b48;
  --toc-text-light: white;
  --tocborder: var(--toc-text-dark);
  --active-toc-item: #e5ca34;

  --parttoc: var(--toc-text-dark);
  --parttoctext: var(--toc-text-light);
  --parttocactive: var(--active-toc-item);
  --parttoctextactive: var(--toc-text-dark);

  --chaptertoc: #1d686e;
  --chaptertoctext: var(--toc-text-light);
  --chaptertocactive: var(--active-toc-item);
  --chaptertoctextactive: var(--toc-text-dark);

  --sectiontoc: #fffffd;
  --sectiontoctext: var(--toc-text-dark);
  --sectiontocactive: var(--active-toc-item);
  --sectiontoctextactive: var(--toc-text-dark);


  --highlighttoc: var(--active-toc-item);
  --highlighttoctext: var(--toc-text-dark);
  --highlighttocborder: var(--chaptertoc);
}