
/* Pastel color scheme by Nathan Wintersgill */

:root {
  --documenttitle: #2a5ea4;
  --bodytitle: #A62E1C;
  --bodysubtitle: #2B5F82;
  --bodytitlehighlight: #e0e9ff;
  --bodysubtitlehighlight: #FCE5E4;

  --chaptertoc: #dbf5ff;
  --chaptertoctext: #444444;
  --chaptertocactive: #fae5b6;
  --chaptertoctextactive: #303030;
  --sectiontoc: #ffffff;
  --sectiontoctext: #404040;
  --sectiontocactive: #fae5b6;
  --sectiontoctextactive: #202020;
  --tocborder: #afc2e5;

  --highlighttoc: #fac793;
  --highlighttoctext: #321a0c;
  --highlighttocborder: #ec704b;

  --assemblageborder: #1100aa;
  --assemblagebackground: #f4f4fe;

  --knowlborder: #e0e9ff;
  --knowlbackground: #f5f8ff;

}

