
.pretext-content.epub img {
    display: block;
}
.pretext-content.epub .solutions {
    margin-top: 1em;
}

.pretext-content.epub .solutions .solution .type {
    font-family: "PT Serif", "Times New Roman", Times, serif;
    font-weight: bold;
}
.pretext-content.epub .solutions .solution .type + .period {
    margin-right: 0.75em;
}
.pretext-content.epub .solutions .solution .type + p {
   display: inline;
}

/* sage cell code goes in a pre.  What else goes there? */
.pretext-content pre {
    font-size: 95%;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    background: #f0f0f0;
}
.pretext-content pre.code.input {
    background: #f0f0ff;
}
.pretext-content pre.code.output {
    background: #f0fff0;
}


/* these "break-(before/after) might not actually do anything */
.pretext-content section > .heading {
    display: block;
    margin-top: 0;
    break-after: avoid !important;
}
.pretext-content section > .heading + p {
     display: block;
     break-before: avoid !important;
}
.pretext-content figcaption {
     break-before: avoid !important;
}
.pretext-content figure .image-box, 
.pretext-content figure .tabular-box {
    break-after: avoid !important;
}
.pretext-content figure {
    break-inside: avoid;
}
