
/*
 *
 * login
 *
 */

 /* Bordered form */
.login form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
.login input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.login button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login .instructions {
    padding-left: 1em;
}

/* Add a hover effect for buttons */
.login button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.login .container {
    padding: 16px;
    padding-bottom: 32px;
}

/* The "Forgot password" text */
.login span.psw {
    float: right;
}

 /* The Modal (background) */
.login.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.survey.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.survey .instructions {
    width: 80%;
    margin: 1em auto 1em auto;
    background: #eef;
    font-style: italic;
    text-align: center;
}
.surveyresponse {
    display: block;
    width: 80%;
    margin: 1em auto 1em auto;
    background: #efe;
    padding: 0.5em;
}
.surveyresponse   + .surveyresponse {
    background: #ffe;
}

/* Modal Content/Box */
.survey .modal-content,
.login .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.login .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.login .close:hover,
.login .close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.login .animate {
    animation: animatezoom 0.6s
}

.login-link {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.login-link > * {
    visibility: hidden;
}
.login-link:hover > * {
    visibility: visible;
    background-color: #fcc;
}
.login-link .logout {
    visibility: visible;
    background-color: #fcc;
}

.dontlogout {
    float: right;
    font-size: 80%;
    cursor: pointer;
}

.dontlogout:hover { 
    background-color: #fdd;
}

/*
 *
 * reading questions
 *
 */

.rq_answer .given_answer {
    background: #ffd;
}

#rq_submit {
    padding: 3px 5px;
    border-radius: 0.5em;
}
#rq_submit.submitted {
    background: #EFE;
    color: #BBB;
}

.addcontent, .action, .submit {
    cursor: pointer;
}

.addcontent:hover, .action:hover {
    background: #eff;
}

/*
.action + .action {
    margin-left: 0.25em;
    display: block;
}
.action + .amhelp {
    margin-left: 0.25em;
    display: block;
}
*/

.input_controls {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 90%;
    background: #fff;
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 0;
/*    
    margin-bottom: -1.6em;
    display: inline;
*/
    position: absolute;
}
.rq_answer_text {
    display: inline;
}
textarea {
    border-width: 0.1em;
    margin-bottom: 0.3em;
}
.input_controls .action {
    border: 1px solid #aaa;
    display: inline;
 /*   border-radius: 3px;
*/
    padding: 1px 2px;
}
.input_controls .action.amhelp {
     margin-left: 21.9em;
}
.clear_item:hover {
    background: #fdd;
}

.save_item:hover, .edit_item:hover {
    background: #dfd;
}

.hidecontrols {
    display: none;
}

.readingquestion_make_answer.instructor {
    margin-left:1em;
    font-size:80%;
    color:#a0a;
}
.readingquestion_make_answer.student {
    display: block;
    margin-left: 10%;
    margin-right: 11%;
    width: 75%;
    height: 63px;
    border: 1px solid #999;
    color: #999;
}

.given_answer {
    font-family: monospace;
    font-family: "Lucida Console", Monaco, monospace;
    white-space: pre-wrap;
    margin-top: 0.5em;
    margin-bottom: -0.5em;
    min-height: 2.72em;
}
textarea.rq_answer_text {
        font-family: "Lucida Console", Monaco, monospace;
        resize: vertical;
        font-size: inherit;
}
.compiled_answers {
    border: 0.7em solid #dfd;
    border-top: 0.35em;
    margin-top: 1em;
}
.s_id {
    font-size: 80%;
    padding-top: 0.4em;
    padding-left: 0.5em;
    display: inline;
}
.rq_sub_time {
    font-size: 70%;
    padding-top: 0.5em;
    padding-right: 0.5em;
    float: right;
    display: inline;
}
.s_ans {
    font-family: "Lucida Console", Monaco, monospace;
    white-space: pre-wrap;
    width: 480px;
    margin-left: 3em;
    padding-bottom: 0.5em;
}
.noanswer .s_ans {
    font-style: italic;
    font-size: 80%;
    margin-left: 4em;
}
.one_answer:nth-of-type(odd) {
    background: #dfd;
}

/*
 *
 * highlights
 *
 */

#hlmenu {
    z-index: 1000;
}
#hlmenu *:hover {
    cursor: pointer;
}

span.hl { background: yellow; }
#hlmenu { position: absolute; top: 300px; left: 200px;}
#hlmenu { padding: 8px; background: #FFF; }
#hlmenu { box-shadow: 8px 10px 5px #888; border: 1px solid #aaa;}
#hlmenu .hldelete { background: #fdd; }
#hlmenu .hldelete:hover { background: #fbb; }
#hlmenu .hlcopy { background: #ddf; }
#hlmenu .hlcopy:hover { background: #bbf; }
#hlmenu .dismiss:hover { background: #ff9; }
#hlmenu > div { padding: 4px; font-size: 90%}
