/*******************************************************************************
 * Navbar Stylesheet
 *******************************************************************************
 *
 * Authors: David Farmer, Rob Beezer
 *
 *******************************************************************************
 */
#primary-navbar {
  background: #ededed;
  border-bottom: 1px solid #bababa;
  margin: 0;
  z-index: 200;
  height: 35.36px;
  font-family: "PT Serif", "Times New Roman", Times, serif;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  #primary-navbar {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ededed;
    box-shadow: rgba(0, 0, 0, 0.3) 0px -2px 5px;
    height: 44.2px;
  }
}
#primary-navbar .button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  /* Disable accidental text-selection */
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  text-align: left;
  position: relative;
  display: block;
  /* subtract border and padding from width
   * so we can set width precisely as percent */
  box-sizing: border-box;
  font-size: 1em;
  padding: 0;
  margin: 0;
  line-height: 35.36px;
}
#primary-navbar .button:focus {
  outline: thin dotted #333;
  outline-offset: -2px;
}
#primary-navbar .button:active {
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px inset;
}
#primary-navbar .button {
  color: #333333;
  background-color: #ededed;
}
#primary-navbar .button:hover {
  background-color: #fafafa;
}
#primary-navbar .button:active {
  background-color: #e0e0e0;
}
#primary-navbar .button.disabled {
  opacity: .4;
  color: #333333;
  background: #ededed;
  cursor: default;
  box-shadow: none;
}
@media screen and (max-width: 800px) {
  #primary-navbar .button {
    /*@include button-hide-text($navbar-icon-box-size);*/
    float: left;
    text-align: center;
    margin: 0;
    line-height: 44.2px;
  }
  #primary-navbar .button:active {
    /* Vertically flip shadow for lower navbar */
    box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 5px inset;
  }
}
#primary-navbar .sidebar-left-toggle-button {
  /* Do not display if is missing */
  display: none;
  /*On desktop screens, */
  padding: 0;
}
 #primary-navbar .sidebar-left-toggle-button {
  display: block;
  width: 240px;
}
@media screen and (min-width: 801px) {
  #primary-navbar .sidebar-left-toggle-button.active {
    /* Show text if hidden and match sidebar width */
    text-indent: 0;
    width: 240px;
  }
}
#primary-navbar .sidebar-left-toggle-button:before {
  content: "\2630";
  aria-hidden="true";  /* not valid.  the hamburger shoudl appear in the source with this attr on its span */
  text-align: center;
  font-size: 2em;
  line-height: 0.9em;
/*
  line-height: 35.36px;
*/
  width: 1.4em;
  text-indent: 0;
  /* So text isn't removed from this too */
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
}
@media screen and (max-width: 800px) {
  #primary-navbar .sidebar-left-toggle-button {
    /* Disable ellipsis */
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    /* center the icon */
    text-align: center;
    position: relative;
    /* hide the text */
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
  }
  #primary-navbar .sidebar-left-toggle-button:before {
    content: "\2630";
    text-align: center;
    font-size: 2.4em;
    line-height: 1.2em;
/*
    width: 44.2px;
*/
    text-indent: 0;
    /* So text isn't removed from this too */
    display: inline-block;
    vertical-align: auto;
    zoom: 1;
  }
  #primary-navbar .sidebar-left-toggle-button:before {
    position: absolute;
    left: 50%;
    right: auto;
    margin-left: -22.1px;
    top: 35%;
    bottom: auto;
    margin-top: -22.1px;
  }
}
#primary-navbar .up-button {
  text-align: center;
}
#primary-navbar .up-button:before {
  content: "^";
  text-align: center;
  font-size: 1.5em;
  font-family: "Open Sans";
/*
  line-height: 35.36px;
  width: 35.36px;
*/
  text-indent: 0;
  /* So text isn't removed from this too */
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  #primary-navbar .up-button {
    /* Disable ellipsis */
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    /* center the icon */
    text-align: center;
    position: relative;
    /* hide the text */
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
  }

  #primary-navbar .up-button:before {
    font-size: 2em;
    line-height: 1.2em;
/*
    line-height: 44.2px;
*/
    width: 1.5em;
    padding-top: 5px;
    /* So text isn't removed from this too */
    position: absolute;
    left: 50%;
    right: auto;
    margin-left: -22.1px;
    top: 50%;
    bottom: auto;
    margin-top: -22.1px;
  }
}
#primary-navbar .previous-button:before {
  content: "<";
  text-align: center;
  font-size: 1.5em;
  font-family: "Open Sans";

/*
  line-height: 35.36px;
  width: 55.36px;
*/
  text-indent: 0;
  /* So text isn't removed from this too */
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 5px;
  zoom: 1;
}
@media screen and (max-width: 800px) {
  #primary-navbar .previous-button {
    /* Disable ellipsis */
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    /* center the icon */
    text-align: center;
    position: relative;
    /* hide the text */
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
  }
  #primary-navbar .previous-button:before {
    font-size: 2em;
    line-height: 1.0em;
/*
    line-height: 36px;
*/
    width: 2em;
    /* So text isn't removed from this too */
    padding-top: 5px;
    position: absolute;
    left: 55%;
    right: auto;
    margin-left: -22.1px;
    top: 50%;
    bottom: auto;
    margin-top: -22.1px;
  }
}
#primary-navbar .next-button {
  text-align: right;
}
#primary-navbar .next-button:after {
  content: ">";
  text-align: center;
  font-size: 1.5em;
  font-family: "Open Sans";
/*
  line-height: 35.36px;
  width: 35.36px;
*/
  text-indent: 0;
  padding-bottom: 5px;
  /* So text isn't removed from this too */
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  #primary-navbar .next-button {
    /* Disable ellipsis */
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    /* center the icon */
    text-align: center;
    position: relative;
    /* hide the text */
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
  }
  #primary-navbar .next-button:after {
    font-size: 2em;
    line-height: 1.0em;
/*
    line-height: 36px;
*/
    width: 2em;
    padding-top: 5px;
    padding-left: 5px;
    /* So text isn't removed from this too */
    position: absolute;
    left: 55%;
    right: auto;
    margin-left: -22.1px;
    top: 50%;
    bottom: auto;
    margin-top: -22.1px;
  }
}
@media screen and (max-width: 800px) {
  #primary-navbar .settings-button {
    /* Disable ellipsis */
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    /* center the icon */
    text-align: center;
    position: relative;
    /* hide the text */
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
  }
  #primary-navbar .settings-button:before {
    position: absolute;
    left: 50%;
    right: auto;
    margin-left: -22.1px;
    top: 50%;
    bottom: auto;
    margin-top: -22.1px;
  }
}
@media screen and (max-width: 800px) {
  #primary-navbar .navbar-bottom-buttons {
    display: block;
  }
}
#primary-navbar .navbar-top-buttons {
  display: block;
}
@media screen and (max-width: 800px) {
  #primary-navbar .navbar-top-buttons {
    display: none;
  }
}

#primary-navbar .button {
    border-top: 1px solid #bababa;
}

#primary-navbar {
    background-color: #fafafa;
    border-bottom: 1px solid #bababa;
}
#primary-navbar .index-button {
    width: 70px;
    text-align: center;
    border-right: 1px solid #bababa;
}
#primary-navbar .up-button {
    width: 60px;
    float: right;
    border-right: 1px solid #bababa;
}
#primary-navbar .up-button:before {
    text-align: left;
    width: 20px;
}
#primary-navbar .previous-button {
    width: 70px;
    float: right;
    border-left: 1px solid #bababa;
    padding-right: 3px;
}
#primary-navbar .next-button {
    width: 70px;
    float: right;
    border-right: 1px solid #bababa;
}
#primary-navbar .previous-button::before {
    width: 27px;
}
#primary-navbar .next-button::after {
    width: 25px;
}

#primary-navbar .button.toggle {
    width: 60px;
    text-align: center;
    border-radius: 20px;
    margin-left: 5px;
    border: 2px solid #66f;
    line-height: 25px;
    margin-top: 3px;
    background-color: #eef;
}
#primary-navbar .button.toggle.open {
    background: #fee;
    border: 2px solid #f66;
}

#primary-navbar .threebuttons {
    float: right;
}

#primary-navbar .threebuttons .next-button, #primary-navbar .threebuttons .up-button, #primary-navbar .threebuttons .previous-button {
    float: left;
}

