/*******************************************************************************
 * Navbar Stylesheet
 *******************************************************************************
 *
 * Authors: David Farmer, Rob Beezer
 *
 *******************************************************************************
 */
#ptx-navbar {
  background: #ededed;
  border-bottom: 1px solid #bababa;
  margin: 0;
  z-index: 200;
  min-height: unset;  /* to combat navbar.less */
/*
  height: 35.36px;
*/
  font-family: "PT Serif", "Times New Roman", Times, serif;
  font-family: "Open Sans";
  overflow: visible;
}
#ptx-navbar::after {
  clear: both;  /* necessary, but not sure why */
  content: " ";
  display: table;
}
@media screen and (max-width: 800px) {
  #ptx-navbar {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ededed;
    box-shadow: rgba(0, 0, 0, 0.3) 0px -2px 5px;
  }
}
#ptx-navbar .button {
  font-size: 1.0em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  height: 35px;
/*
  height: 44px;
*/
  /* Disable accidental text-selection */
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  text-align: left;
  position: relative;
  /* subtract border and padding from width
   * so we can set width precisely as percent */
}
#ptx-navbar .button:focus {
  outline: thin dotted #333;
  outline-offset: -2px;
}
#ptx-navbar .button:active {
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px inset;
}
#ptx-navbar .button {
  color: #333333;
  background-color: #ededed;
}
#ptx-navbar .button:hover {
  background-color: #fafafa;
}
#ptx-navbar .button:active {
  background-color: #e0e0e0;
}
#ptx-navbar .button.disabled {
  opacity: .4;
  color: #333333;
  background: #ededed;
  cursor: default;
  box-shadow: none;
}
#ptx-navbar .toc-toggle {
  display: block;
  width: 240px;
  border-bottom: 1px solid #bababa;
  border-right: 1px solid #bababa;
}
#ptx-navbar .toc-toggle .icon {
  font-size: 1.75em;
  position: relative;
  bottom: 0.30em;
  padding-left: 0.5em;
  padding-right: 0.4em;
}
#ptx-navbar .toc-toggle .name {
  font-size: 1.05em;
  position: relative;
  bottom: 0.53em;
}

#ptx-navbar .up-button {
  text-align: center;
}

#ptx-navbar .name {
  display: inline-block;
  position: relative;
  bottom: 0;
}
#ptx-navbar .treebuttons .name {
  bottom: 0.2em;
}
#ptx-navbar .icon {
  display: inline-block;
  font-size: 1.5em;
}
#ptx-navbar .previous-button .icon {
  margin-left: 0.3em;
  margin-right: 0.2em;
}
#ptx-navbar .up-button .icon {
  margin-left: 00;
  margin-right: 0.2em;
  padding-top: 2px;
}
#ptx-navbar .up-button .name {
  bottom: 0.3em;
}
#ptx-navbar .next-button .icon {
  margin-left: 0.2em;
  margin-right: 0.3em;
}
#ptx-navbar .index-button .name {
  padding-top: 0.3em;
}
#ptx-navbar .next-button {
  text-align: right;
}
#ptx-navbar #theavatarbutton {
  font-size: 1.0em;
}

@media screen and (max-width: 800px) {
  #ptx-navbar .button {
    /*@include button-hide-text($navbar-icon-box-size);*/
    float: left;
    text-align: center;
    margin: 0;
    border: 1px solid #bababa;
    display: inline;
  }
  #ptx-navbar {
    margin-left: auto;
    margin-right: auto;
  }
  #ptx-navbar .index-button,
  #ptx-navbar .user-preferences-button,
  #ptx-navbar .calculator-button {
    display: none;
  }
  #ptx-navbar .button {
    border-bottom: none;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  } 
  #ptx-navbar .toc-toggle .icon {
    position: relative;
    bottom: 0.25em;
    padding-left: 0;
    padding-right: 0;
  }
  #ptx-navbar .treebuttons .icon {
    position: relative;
    bottom: 0;
  }
  #ptx-navbar .toc-toggle .name,
  #ptx-navbar .previous-button .name,
  #ptx-navbar .up-button .name,
  #ptx-navbar .next-button .name {
    display: none;
  }
  #ptx-navbar .toc-toggle {
      width: 25%;
  }
  #ptx-navbar .treebuttons {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #ptx-navbar .treebuttons .button {
    width: 33.3%;
    border-left: none;
  }
}
@media screen and (max-width: 800px) {
  #ptx-navbar .settings-button {
    /* Disable ellipsis */
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    /* center the icon */
    text-align: center;
    position: relative;
    /* hide the text */
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
  }
}

#ptx-navbar .button {
    border-top: 1px solid #bababa;
}

#ptx-navbar {
    background-color: #fafafa;
    border-bottom: 1px solid #bababa;
}
#ptx-navbar .index-button {
    width: 70px;
    text-align: center;
    border-right: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
}
#ptx-navbar .user-preferences-button {
    padding: 0 0.8em 0 0.8em;
    margin-left: 8em;
    border: 1px solid #bababa;
}
#ptx-navbar .up-button {
    width: 60px;
    float: right;
    border-right: 1px solid #bababa;
}
#ptx-navbar .previous-button {
    width: 70px;
    float: right;
    border-left: 1px solid #bababa;
    border-right: 1px solid #bababa;
}
#ptx-navbar .next-button {
    width: 70px;
    float: right;
    border-right: 1px solid #bababa;
}

#ptx-navbar .calculator-toggle {
    width: 60px;
    height: 33px;
    text-align: center;
    border-radius: 20px;
    margin-left: 5px;
    border: 2px solid #66f;
    line-height: 25px;
    margin-top: 2px;
    background-color: #eef;
}
#ptx-navbar .calculator-toggle.open {
    background: #fee;
    border: 2px solid #f66;
}

#ptx-navbar .treebuttons {
    display: block;
    float: right;
}
#ptx-navbar .treebuttons .next-button, #ptx-navbar .treebuttons .up-button, #ptx-navbar .treebuttons .previous-button {
    float: left;
}

