@import url("navbar_default.css");


:root {
  --nav-background-color: #ededed;
}

.pretext .ptx-navbar {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  width: var(--page-width);
  background: var(--nav-background-color);
  border-top: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.pretext .ptx-navbar .toc-toggle {
  border-left: 0;
}

.ptx-navbar .calculator-toggle {
  width: auto;
  height: 35px;
  text-align: center;
  border-radius: 0;
  margin-left: 0;
  border: 0;
  border-right: 1px solid #bababa;
  line-height: inherit;
  margin-top: 0;
  background-color: #ededed;
  padding: 0 15px;
}


.ptx-navbar > :last-child > :last-child {
  border-right: none;
}