
#primary-navbar .previous-button::before {
    width: 27px;
}
#primary-navbar .next-button::after {
    width: 25px;
}

#primary-navbar .threebuttons {
    float: right;
}

#primary-navbar .next-button, #primary-navbar .up-button, #primary-navbar .previous-button {
    float: left;
}


#primary-navbar {
    display: grid;

    grid-column-gap: 0em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.53fr 6em 6em 1fr;
    grid-template-areas:
        "MH-toc-area MH-extras-area1 MH-extras-area2 MH-page-navigation-area";  
    background-color: #fff; 
    padding: 20px 0px 0px 0px;
    align-items: start;

    border: 2px solid #ddd;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 100;
    /* Masthead nav sticky (perhaps wanted for small screen) */
    position: sticky;
    top: -20px;
    align-items: start;
}

@media only screen and (min-width: 700px) {
    #primary-navbar {
        grid-template-columns:  0.53fr 6em 6em 1fr;
    }
    #primary-navbar .button {
	padding: 0 12px 0 12px;
    }
    .sidebar-left-toggle-button {
	padding: 0 12px 0 12px;
    }
}

@media screen and (max-width: 700px) {
  .pretext  #primary-navbar {
    display: block;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    background: #ededed;
    box-shadow: rgba(0, 0, 0, 0.3) 0px -2px 5px;
    height: 44.2px;
    z-index: 100;
  }
}


@media only screen and (min-width: 846px) {
    #primary-navbar .button {
	padding: 0 24px 0 24px;
    }
    #primary-navbar .threebuttons .button {
        padding: 0 20px 0 20px;
    }
    #primary-navbar .threebuttons .previous-button { padding-left: 12px; }
    #primary-navbar .threebuttons .next-button { padding-right: 12px; }

    #primary-navbar .sidebar-left-toggle-button {
	padding: 0 24px 0 24px;
    }
}

/* .ptx-MH-toc-area  */
.sidebar-left-toggle-button {
    grid-area: MH-toc-area;
    justify-self: start;
    align-self: start;
}

/* .ptx-MH-extras-area  */
.index-button {
    grid-area: MH-extras-area1;
    justify-self: right;
}
#calculator-toggle {
    grid-area: MH-extras-area2;
    justify-self: left;
}

/* .ptx-page-navigation-area  */
.threebuttons {
    grid-area: MH-page-navigation-area;
    justify-self: end;
    align-self: start;
}

/* .ptx-MH-button  */
/* #primary-navbar button, */
#primary-navbar .button {
    display: inline-block;
    height: 32px;
    color: #333;
    font-family: inherit; 
    text-align: center;
    font-size: .8em; 
    font-weight: 600;
    line-height: 32px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #888;
    cursor: pointer;
    box-sizing: border-box;
    /*	padding: default? See @media changes */
}
#primary-navbar .button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  /* Disable accidental text-selection */
  user-select: none;
  /* Truncate overflowing text with ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  text-align: left;
  position: relative;
  display: block;
}

#primary-navbar .button:hover {
    background-color: #fafafa;
    color: black;
}
#primary-navbar .button:focus {
  outline: thin dotted #333;
  outline-offset: -2px;
}

@media screen and (max-width: 700px) {
  .pretext #primary-navbar .button {
    /*@include button-hide-text($navbar-icon-box-size);*/
    float: left;
    text-align: center;
    margin: 0;
    line-height: 44.2px;
    border: 0;
    height: unset;
  }
  #primary-navbar .button.active, #primary-navbar .button:active {
    /* Vertically flip shadow for lower navbar */
    box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 5px inset;
  }
}

#primary-navbar .up-button {
  text-align: center;
}
#primary-navbar .up-button:before {
  content: "^";
  text-align: center;
  font-size: 1.5em;
  font-family: "Open Sans";
/*
  line-height: 35.36px;
  width: 35.36px;
*/
  text-indent: 0;
  /* So text isn't removed from this too */
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 700px) {
    .pretext #primary-navbar .up-button {
    /* Disable ellipsis */
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    /* center the icon */
    text-align: center;
    position: relative;
    /* hide the text */
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
  }

    .pretext #primary-navbar .up-button:before {
    font-size: 2em;
    line-height: 1.2em;
/*
    line-height: 44.2px;
*/
    width: 1.5em;
    padding-top: 5px;
    /* So text isn't removed from this too */
    position: absolute;
    left: 50%;
    right: auto;
    margin-left: -22.1px;
    top: 50%;
    bottom: auto;
    margin-top: -22.1px;
  }
}
#primary-navbar .previous-button:before {
  content: "<";
  text-align: center;
  font-size: 1.5em;
  font-family: "Open Sans";

/*
  line-height: 35.36px;
  width: 55.36px;
*/
  text-indent: 0;
  /* So text isn't removed from this too */
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 5px;
  zoom: 1;
}
@media screen and (max-width: 700px) {
    .pretext #primary-navbar .previous-button {
    /* Disable ellipsis */
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    /* center the icon */
    text-align: center;
    position: relative;
    /* hide the text */
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
  }
    .pretext #primary-navbar .previous-button:before {
    font-size: 2em;
    line-height: 1.0em;
/*
    line-height: 36px;
*/
    width: 2em;
    /* So text isn't removed from this too */
    padding-top: 5px;
    position: absolute;
    left: 55%;
    right: auto;
    margin-left: -22.1px;
    top: 50%;
    bottom: auto;
    margin-top: -22.1px;
  }
}
#primary-navbar .next-button {
  text-align: right;
}
#primary-navbar .next-button:after {
  content: ">";
  text-align: center;
  font-size: 1.5em;
  font-family: "Open Sans";
/*
  line-height: 35.36px;
  width: 35.36px;
*/
  text-indent: 0;
  padding-bottom: 5px;
  /* So text isn't removed from this too */
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 700px) {
    .pretext #primary-navbar .threebuttons .next-button {
    /* Disable ellipsis */
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    /* center the icon */
    text-align: center;
    position: relative;
    /* hide the text */
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
  }
    .pretext #primary-navbar .next-button:after {
    font-size: 2em;
    line-height: 1.0em;
/*
    line-height: 36px;
*/
    width: 2em;
    padding-top: 5px;
    padding-left: 5px;
    /* So text isn't removed from this too */
    position: absolute;
    left: 55%;
    right: auto;
    margin-left: -22.1px;
    top: 50%;
    bottom: auto;
    margin-top: -22.1px;
  }
}
/* leaving this in, even though there is no settings-button */
@media screen and (max-width: 700px) {
    .pretext #primary-navbar .settings-button {
    /* Disable ellipsis */
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    /* center the icon */
    text-align: center;
    position: relative;
    /* hide the text */
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
  }
    .pretext #primary-navbar .settings-button:before {
    position: absolute;
    left: 50%;
    right: auto;
    margin-left: -22.1px;
    top: 50%;
    bottom: auto;
    margin-top: -22.1px;
  }
}

/* TOC button may be sized differently */
.sidebar-left-toggle-button {
    display: inline-block;
    height: 32px;
    color: #333;
    font-family: inherit; 
    text-align: center;
    font-size: .8em; /*11px; */
    font-weight: 600;
    line-height: 32px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #888;
    cursor: pointer;
    box-sizing: border-box;
    /*	padding: ?? */
}

.sidebar-left-toggle-button:hover {
    background-color: #fafafa;
    color: black;
}

