
/* Generic and large screen layout */

.ptx-navbar .button {
    padding: 0 24px 0 24px;
}

.ptx-navbar .treebuttons .button {
    padding: 0 20px 0 20px;
}

.ptx-navbar .treebuttons .previous-button { padding-left: 12px; }
.ptx-navbar .treebuttons .next-button { padding-right: 12px; }

.ptx-navbar .toc-toggle {
    padding: 0 10px 0 10px;
}


nav.ptx-navbar {
    display: grid;
    grid-column-gap: 0em;

    grid-template-columns:  .76fr 6em 6em 1fr;  /* Even gaps */
    grid-template-areas:
        "MH-toc-area MH-extras-area1 MH-extras-area2 MH-preferences-area MH-page-navigation-area";
    
    background-color: #fff; 
/*
    padding: 20px 0px 0px 0px;
*/
    align-items: start;

    border: 2px solid #ddd;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 20;

    position: sticky;
    top: 1px;
    align-items: end;
    min-height: unset; /* to thwart navbar.less */
    margin-bottom: 0; /* to thwart navbar.less */
}
nav.ptx-navbar::before,
nav.ptx-navbar::after {
    content: none;  /* to thwart clearfix.less */
}


/* TOC button may be sized differently */
.toc-toggle {
    display: inline-block;
    height: 32px;
    color: #333;
    font-family: inherit; 
    text-align: center;
    font-size: .8em; /*11px; */
    font-weight: 600;
    line-height: 32px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #888;
    cursor: pointer;
    box-sizing: border-box;
}

.toc-toggle:hover {
    background-color: #fafafa;
    color: black;

}


/* .ptx-MH-toc-area  */
.toc-toggle {
    grid-area: MH-toc-area;
    justify-self: start;
/*
    align-self: start;
*/
}

/* .ptx-MH-extras-area  */
.index-button {
    grid-area: MH-extras-area1;
    justify-self: right;
}
.calculator-toggle {
    grid-area: MH-extras-area2;
    justify-self: left;
}
.user-preferences-button {
    grid-area: MH-preferences-area;
    justify-self: left;
}

/* .ptx-page-navigation-area  */
.treebuttons {
    grid-area: MH-page-navigation-area;
    justify-self: end;
/*
    align-self: start;
*/
}


/* .ptx-navbar button, */
.ptx-navbar .button {
    display: inline-block;
    height: 32px;
    color: var(--bodytitle);
    font-family: inherit; 
    text-align: center;
    font-size: .8em; 
    font-weight: 600;
    line-height: 32px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #888;
    cursor: pointer;
    box-sizing: border-box;
}


/* Small screen layout  */
@media only screen and (max-width: 800px) {
    .pretext  .ptx-navbar {
	display: block;
	position: fixed;
	top: auto;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	background: #ededed;
/*
	box-shadow: rgba(0, 0, 0, 0.3) 0px -2px 5px;
*/
	/*    height: 44.2px; */
	
	grid-template-columns:  1fr 1fr;
	grid-column-gap: 0;
        grid-template-areas: "MH-toc-area MH-page-navigation-area";
	align-items: end;
    }

    .pretext .ptx-navbar .button {
	width: 24.95%;
	height: 36px;
	line-height: 40px;
	margin: 0;
    }
    .ptx-navbar    .toc-toggle {
	width: 25%;
	margin: 0;
    }

    /* Kill some white space between toc-toggle and treebuttons */
    .ptx-navbar    .treebuttons {
	margin: 0 0 0 -4px;
    }

}

.ptx-navbar .button:hover {
    background-color: #fafafa;
    color: #888;
}

.ptx-navbar .button:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
}

.ptx-navbar .button:active {
    background-color: #e0e0e0;
}


.ptx-navbar .button.disabled {
    opacity: .4;
    color: #333333;
    background: #ededed;
    cursor: default;
    box-shadow: none;
}
.ptx-navbar .toc-toggle .icon {
    font-size: 1.5em;
    position: relative;
    bottom: 0.15em;
    padding-left: 0;
    padding-right: 0.4em;
}
.ptx-navbar .toc-toggle .name {
    font-size: 1.0em;
    position: relative;
    bottom: 0.25em;
}

.ptx-navbar .index-button .name {
    /*  Nada */
}

.ptx-navbar .calculator-toggle .name {
    /*  Nada */
}


.ptx-navbar .up-button {
    text-align: center;
}

.ptx-navbar .name {
    display: inline-block;
    position: relative;
    bottom: 0;
}
.ptx-navbar .treebuttons .name {
    bottom: 0.2em;
}
.ptx-navbar .icon {
    display: inline-block;
    font-size: 1.5em;
}
.ptx-navbar .previous-button .icon {
    margin-left: 0.3em;
    margin-right: 0.2em;
}
.ptx-navbar .up-button .icon {
    margin-left: 0;
    margin-right: 0.2em;
}
.ptx-navbar .up-button .name {
    bottom: 0.3em;
}
.ptx-navbar .next-button .icon {
    margin-left: 0.2em;
    margin-right: 0.3em;
}
.ptx-navbar .user-preferences-button {
  padding: 0 0.8em 0 0.8em;
  margin-left: 2em;
  border: 1px solid #bababa;
  width: 6em;
}

@media screen and (max-width: 800px) {
    .ptx-navbar .index-button,
    .ptx-navbar .user-preferences-button,
    .ptx-navbar .calculator-toggle {
	display: none;
    }
    
    .ptx-navbar .toc-toggle .name,
    .ptx-navbar .previous-button .name,
    .ptx-navbar .up-button .name,
    .ptx-navbar .up-button .disabled .name,
    .ptx-navbar .next-button .name {
	display: none;
    }

    .ptx-navbar .up-button .icon,
    .ptx-navbar .up-button .disabled .icon{
    }
    
}

