
/* Since CRC loads after default, we need to suppress some of the default styling */

.ptx-navbar .treebuttons .next-button, .ptx-navbar .treebuttons .up-button,
.ptx-navbar .treebuttons .previous-button {
  float: unset;
}

.ptx-navbar .previous-button, .ptx-navbar .up-button, .ptx-navbar .next-button,
.ptx-navbar .index-button, .ptx-navbar .calculator-toggle, .ptx-navbar .toc-toggle {
  width: unset;
}

.ptx-navbar .calculator-toggle {
  margin-left: unset;
  margin-right: unset;
}

.ptx-navbar .index-button .name {
  padding-top: unset;
}


/* Generic and large screen layout */
.ptx-navbar .toc-toggle, .ptx-navbar .index-button, .ptx-navbar .searchbox
{
}

.ptx-navbar .nav-other-controls
{
    margin-left: 1em;
}

.ptx-navbar .treebuttons {
    display: flex;
    justify-content: right;
}

.ptx-navbar .button {
    padding: 0 10px 0 10px;
}

.ptx-navbar .treebuttons .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ptx-navbar .treebuttons .previous-button { padding-left: 0px; }
.ptx-navbar .treebuttons .next-button { padding-right: 0px; }

.ptx-navbar .nav-runestone-controls {
    display: flex;
}


nav.ptx-navbar {
    display: grid;
    grid-column-gap: 0em;

    grid-template-columns: auto auto auto 1fr 1fr auto; 
    grid-template-areas:
    "MH-toc-area MH-extras-area1 ptx-searchbox MH-extras-area2 MH-page-navigation-area MH-preferences-area";
    background-color: #fff;
/*
    padding: 20px 0px 0px 0px;
*/
    align-items: start;

    border: 2px solid #ddd;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 20;

    position: sticky;
    top: 0;
    align-items: end;
    min-height: unset; /* to thwart navbar.less */
    margin-bottom: 0; /* to thwart navbar.less */
}
nav.ptx-navbar::before,
nav.ptx-navbar::after {
    content: none;  /* to thwart clearfix.less */
}


/* TOC button may be sized differently */
.toc-toggle {
    display: inline-block;
    height: 32px;
    color: #333;
    font-family: inherit;
    text-align: center;
    font-size: .8em; /*11px; */
    font-weight: 600;
    line-height: 32px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #888;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 2em;
}

.toc-toggle:hover {
    background-color: #fafafa;
    color: black;

}


/* .ptx-MH-toc-area  */
.toc-toggle {
    grid-area: MH-toc-area;
    justify-self: start;
/*
    align-self: start;
*/
}

/* .ptx-MH-extras-area  */
.index-button {
    grid-area: MH-extras-area1;
    justify-self: right;
}
.calculator-toggle {
    grid-area: MH-extras-area2;
    justify-self: left;
}
.user-preferences-button {
    justify-self: left;
}

/* .ptx-page-navigation-area  */
.treebuttons {
    grid-area: MH-page-navigation-area;
    justify-self: end;
    display: flex;
    width: 100%;
/*
    align-self: start;
*/
}

.nav-runestone-controls {
    grid-area: MH-preferences-area;
    justify-self: end;
    display: flex;
    padding-left: 4em;
}

/* .ptx-navbar button, */
.ptx-navbar .button {
    display: inline-block;
    height: 32px;
    color: var(--bodytitle);
    font-family: inherit;
    text-align: center;
    font-size: .8em;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #888;
    cursor: pointer;
    box-sizing: border-box;
}

.ptx-navbar .searchbutton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchresultsplaceholder {
    left: calc(50vw - 300px);
}


/* Small screen layout  */
@media only screen and (max-width: 800px) {
    .pretext  .ptx-navbar {
	position: fixed;
	top: auto;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	background: #ededed;
    grid-template-columns: auto auto auto auto 1fr auto; 
/*
	box-shadow: rgba(0, 0, 0, 0.3) 0px -2px 5px;
*/
	/*    height: 44.2px; */
	
	align-items: end;
    }

    /* .pretext .ptx-navbar .button {
	width: 24.95%;
	height: 36px;
	line-height: 40px;
	margin: 0;
    }
    .ptx-navbar    .toc-toggle {
	width: 25%;
	margin: 0;
    } */

    .ptx-navbar .toc-toggle {
        padding: 0 40px;
    }

    .ptx-navbar .nav-runestone-controls {
        padding-left: 0;
    }

    .ptx-navbar .treebuttons {
        justify-content: center;
    }
    
    .ptx-navbar :is(.toc-toggle, .previous-button, .up-button, .next-button, .calculator-toggle, .index-button) .name {
        display: none;
    }

    .pretext .ptx-navbar :is(.calculator-toggle, .index-button) .icon {
        display: inline-block;
    }

    .searchresultsplaceholder {
        left: 10vw;
    }
}

.ptx-navbar .button:hover {
    background-color: #fafafa;
    color: #888;
}

.ptx-navbar .button:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
}

.ptx-navbar .button:active {
    background-color: #e0e0e0;
}


.ptx-navbar .button.disabled {
    opacity: .4;
    color: #333333;
    background: #ededed;
    cursor: default;
    box-shadow: none;
}
.ptx-navbar .toc-toggle .icon {
    font-size: 1.5em;
    position: relative;
    bottom: -0.1em;
    padding-left: 0;
    padding-right: 0.4em;
}
.ptx-navbar .toc-toggle .name {
    font-size: 1.0em;
}

.ptx-navbar .index-button .name {
    /*  Nada */
}
.ptx-navbar .index-button .icon {
    display: none;
}

.ptx-navbar .calculator-toggle .name {
    /*  Nada */
}
.ptx-navbar .calculator-toggle .icon {
    display: none;
}

.ptx-navbar .runestone-profile .name {
    display: none;
}

.ptx-navbar .activecode-toggle .name {
    display: none;
}

.pretext .ptx-navbar .dropdown {
    height: 32px;
}

.ptx-navbar .up-button {
    text-align: center;
}

.ptx-navbar .name {
    display: inline-block;
}
.ptx-navbar .searchbutton .name {
    display: none;
    position: relative;
    bottom: 0;
}

.ptx-navbar .icon {
    display: inline-block;
    font-size: 1.5em;
}
.ptx-navbar .previous-button .icon {
    margin-left: 0.3em;
    margin-right: 0.2em;
}
.ptx-navbar .up-button .icon {
    margin-left: 0;
    margin-right: 0.2em;
}
.ptx-navbar .next-button .icon {
    margin-left: 0.2em;
    margin-right: 0.3em;
}
.ptx-navbar .user-preferences-button {
  padding: 0 0.8em 0 0.8em;
  margin-left: 2em;
  border: 1px solid #bababa;
  width: 6em;
}

@media screen and (max-width: 800px) {
    .ptx-navbar .toc-toggle .name,
    .ptx-navbar .previous-button .name,
    .ptx-navbar .up-button .name,
    .ptx-navbar .up-button .disabled .name,
    .ptx-navbar .next-button .name {
        display: none;
    }

    .ptx-navbar .toc-toggle {
        margin: 0;
    }

    .ptx-navbar .calculator-toggle .icon {
        padding-top: 5px;
    }
}

