/*******************************************************************************
 * pretext.css handles structure which (should be) common to all styles
 *******************************************************************************
 *
 * Authors: David Farmer, Rob Beezer
 *
 *******************************************************************************
 */

@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic|Open+Sans:400italic,700italic,400,700");

body.pretext {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.pretext,
body.standalone {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body.pretext { background: #fff; }

a {
    color: inherit;
    text-decoration: none;
}

body.pretext > a.assistive {
        padding:6px;
        position: absolute;
        top:-40px;
        left:0px;
        color:white;
        border-right:1px solid white;
        border-bottom:1px solid white;
        border-bottom-right-radius:8px;
        background:transparent;
    z-index: 100;
}

body.pretext > a.assistive:focus {
        top:0px;
        background:#BF1722;
        outline:0;
    transition: top .1s ease-in, background .5s linear;
}

/* so that we can position things (like .autopermalink) absolutely wrt these items */
.ptx-content section,
.ptx-content article,
.ptx-content figure,
.ptx-content figcaption,
.ptx-content .exercisegroup,
.ptx-content .para {
    position: relative;
}

/* we use .para as a wrapper around some "compound" p, so the
   first p in .para is block-like because of the .pare */
.ptx-content .para > p:first-child {
    display: inline;
}

/* Oscar Levin figured out the cause of chrome showing a funny border focus */
.ptx-content .knowl .para {
    position: unset;
}

/* CSS defult values:
https://www.w3schools.com/cssref/css_default_values.asp
*/

/* the default margin for pre is "1em 0", so we over-ride
so that we can set our own later */
.ptx-content pre {
    margin: 0;
    padding: 0;
    border: none;
}
.ptx-content textarea {
    padding: 0;
}

/* .para and other block-level elements should have space at the top, and not the bottom */
.ptx-content h1, .ptx-content h2, .ptx-content h3, .ptx-content h4, .ptx-content h5, .ptx-content h6 {
    margin: 0;
}

.ptx-content .heading {
    line-height: 1.1;
}

/* spacing around and after .para, and around and after article */
.ptx-content .para {
    margin-top: 1.25em;
    margin-bottom: 0;
    line-height: 1.35;
}
.ptx-content .para.continuation {
    margin-top: 0;
}
.ptx-content pre + .para.continuation {
    margin-top: 1em;
}
.ptx-content ul + .para.continuation,
.ptx-content ol + .para.continuation,
.ptx-content dl + .para.continuation {
    margin-top: 0.75em;
}

.ptx-content .aside-like > .para:first-child,
.ptx-content td > .para:first-child,
.ptx-content .solution-like > .para:first-child {
    margin-top: 0;
}
/* for assemblages without a title */
.ptx-content .assemblage-like > .para:first-of-type {
    margin-top: 0;
}
.ptx-content .assemblage-like > .heading + .para {
    margin-top: 0.25em;
}
.ptx-content .assemblage-like + .para {
    margin-top: 1.75em;
}

.ptx-content .para.intertext {
    margin-top: -0.25em;
    text-indent: 0;
}

.ptx-content .para + table {
    margin-top: 1em;
}

.ptx-content table tr td .para + .para {
    margin-top: 1em;
}

.ptx-content table + .para {
    margin-top: 1.5em;
}

.ptx-content .para + figure.figure-like > table {
    margin-top: 1em;
}

/* 1.25 = ol top + li top ?  looked too big with 0.75 below */
.ptx-content .exercise-like .para + ol {  
    margin-top: 0.5em;
}

.ptx-content .para + pre.prettyprint,
.ptx-content .para + pre.plainprint {
    margin-top: 1.25em;
}
.ptx-content .para + .code-box {
    margin-top: 1.25em;
}
.ptx-content .code-box > .console {
    margin-left: 1.5em;
}

.ptx-content .exercisegroup {
    padding-top: 1.25em;
    margin-bottom: 1.0em;
}
.ptx-content section .exercisegroup > .heading {
    font-size: 1.10em;
    line-height: 1.05em;
    margin-top: 0.75em;
    display: inline;
}
.ptx-content section .exercisegroup > .heading + .introduction {
    display: inline;
}
.ptx-content section .exercisegroup > .heading + .introduction > .para:first-child {
    display: inline;
}

.ptx-content .exercisegroup article.exercise-like .solution .para:first-child {
    margin-top: -3px;  /* because of the 10px (instread of 7) on the .knowl-content */
}
.ptx-content .exercisegroup article.exercise-like li > .para:first-child {
    margin-top: 0;
}

.ptx-content .exercisegroup article.exercise-like .heading {
    margin: 0;
}
.ptx-content article.exercise-like .task > .heading + .heading {
    font-weight: 600;  /* should be slightly less bold, but some browsers make it bold */
}
.ptx-content article.exercise-like .task > .heading + .heading + .para,
.ptx-content article.exercise-like .task > .heading + .heading + div {
    display: block;
    margin-top: 0;
}
.ptx-content .exercisegroup .conclusion .heading {
    margin-top: 0.5em;
}
.ptx-content .exercisegroup .hidden-knowl-wrapper {
    margin: 0;
}
.ptx-content .exercisegroup article + article {
    margin-top: 1em;
}

/* http://spot.pcc.edu/math/APEXCalculus/sec_interp_deriv.html */
.ptx-content .exercisegroup > article,
.ptx-content .exercisegroup-exercises > article {
    margin-left: 2em;
}
.ptx-content .exercisegroup .cols2 > article {
    margin-left: 1.25em;
}
.ptx-content .exercisegroup > .introduction,
.ptx-content .exercisegroup > .conclusion {
    margin-left: 0;
}
.ptx-content .exercisegroup > .introduction {
    margin-top: 1.25em;
    margin-top: 0;
}
.ptx-content .exercisegroup > .introduction > .para:first-child::before {
    content: '\25a0\2009';
   /* font-size: 70%; */
    color: #06a;
    position: relative;
    top: -1px;
    right: 1px;
}
.ptx-content .exercisegroup > .heading + .introduction > .para:first-child::before {
    content: '\2003';
}

.ptx-content .exercisegroup > .introduction > .para:first-child {
    margin-top: 0;
}

.ptx-content .exercisegroup article + .hidden-knowl-wrapper {
    margin-left: 4em;
}

/* make it look like a list, and have entra indenting when already more indented */
.ptx-content .exercise-like .introduction + .hidden-knowl-wrapper,
.ptx-content .exercise-like .conclusion {
    margin-left: 1.0em;
}
.ptx-content .exercisegroup .exercise-like .introduction + .hidden-knowl-wrapper,
.ptx-content .exercisegroup .exercise-like .conclusion {
    margin-left: 1.5em;
}
.ptx-content section > .hidden-knowl-wrapper {
    margin-top: 1em;
}
.ptx-content article + .hidden-knowl-wrapper {
    margin-top: 1em;
}
.ptx-content .knowl-content > section:first-child > .heading:first-child {
    margin-top: 0;
}






/* this > may be too restrictive.  The purpose is to not put a
   top margin on an article at the top of a knowl */
.ptx-content section > article, .ptx-content section > section.paragraphs, .ptx-content .paragraphs > article {
    margin-top: 1.25em;
}
.ptx-content section article + article,
.ptx-content section .para + article,
.ptx-content section .posterior + article {
    margin-top: 1.75em;
}
.ptx-content section article > .introduction + article {
    margin-top: 1em;
}

.ptx-content article + .posterior {
    margin-top: 0.5em;
}
.ptx-content section .para + .tabular-box {
    margin-top: 0.75em;
}
.ptx-content section .proof {
    margin-top: 0.75em;
}

.ptx-content section > pre, .ptx-content .para + pre {
    margin-top: 1.25em;
}

.ptx-content ol .para + .para, .ptx-content ul .para + .para {
    margin-top: 1em;
}

/* see Ex 29 https://yoshiwarabooks.org/linear-functions.html 
and ex 2.91 in 
https://yoshiwarabooks.org/mfg/MathModels.html */
.ptx-content .introduction + .sidebyside,
.ptx-content .para + .sidebyside,
.ptx-content ol + .sidebyside,
.ptx-content ul + .sidebyside {
    margin-top: 1em;
}

.ptx-content section .heading,
.ptx-content article .heading {
    font-family: "PT Serif", "Times New Roman", Times, serif;
    font-weight: 700;
    color: inherit;
}
.ptx-content article .exercise-stage {
    font-family: "PT Serif", "Times New Roman", Times, serif;
    font-weight: 700;
    color: inherit;
    font-size: 100%;
    margin-top: 0.4em;
}

.ptx-content article > .heading + .para {
    margin-top: 0;
}
.ptx-content section .heading + .para,
.ptx-content section .title + .para, /* list items have bare .title, not in a .heading */
.ptx-content section .heading + .introduction > .para:first-child,
.ptx-content section .blob > .para:first-child {
    margin-top: 0.25em;
}
.ptx-content section .heading + article { /* , .ptx-content section header + article { */
    margin-top: 1em;
}
.ptx-content section .heading + .sidebyside {
    margin-top: 1em;
}

.ptx-content a > .heading { display: inline;}

.ptx-content section > .heading {
    font-size: 1.75em;
    line-height: 1.25em;
    margin-top: 1em;
    margin-bottom: 0.35em;
}
.ptx-content section section > .heading {
    font-size: 1.5em;
    line-height: 1.25em;
    margin-bottom: 0;
}
.ptx-content .paragraphs > .heading {
    font-size: 1.125em;
    line-height: 1.125em;
}
.ptx-content article .paragraphs > .heading {
    font-size: 1.05em;
}
.ptx-content section section section > .heading {
    font-size: 1.40em;
    line-height: 1.15em;
    margin-top: 0.75em;
}
@media screen and (max-width: 480px) {
    .ptx-content section > .heading {
        font-size: 1.5em;
        line-height: 1.33em;
        margin-top: 1em;
    }
    .ptx-content section section > .heading {
        font-size: 1.3em;
        line-height: 1.15em;
    }
    .ptx-content section section section > .heading {
        font-size: 1.15em;
        line-height: 1em;
    }
}

.ptx-content article > .heading,
.ptx-content article > a .heading,
.ptx-content .abstract > .heading {
    font-size: 1.125em;
    line-height: 1.125em;
    margin-top: 0;
    display: inline;
}
.ptx-content article > .heading::after,
.ptx-content .paragraphs > .heading::after,
.ptx-content article > a > .heading::after,
.ptx-content .abstract > .heading::after {
    content: "\2009";
}
/* Currently only for Solution to example */
.ptx-content .posterior .heading {
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.125em;
    margin-top: 0;
}

/*
 * Contents of articles
 */
.ptx-content article > .heading + .para,
.ptx-content article > .heading + .introduction,
.ptx-content article > .heading + .introduction > .para:first-child {
    display: inline;
}
/* when a list is the only thing in an environment with a border,
   there is too much space to the left */
.ptx-content article > .heading + ol,
.ptx-content article > .heading + ul {
    padding-left: 1.5em;
}
.ptx-content article.theorem-like .para,
.ptx-content article.theorem-like li {
    font-style: italic;
}
.ptx-content article.theorem-like .emphasis {
    font-weight: 700;
}

.ptx-content ol, .ptx-content ul {
    margin-bottom: 0;
}
.ptx-content li {
    margin-bottom: 0;
}
.ptx-content li .title {
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
}
.ptx-content article.theorem-like li > .title {
    font-weight: 600;
    font-style: normal;
    font-size: 96%;
}

.ptx-content figure {
    margin-bottom: 0;
}

.ptx-content .heading {
    margin-top: 0;
    margin-bottom: 0;
}

.ptx-content .conclusion {
    margin-top: 1em;
}
.ptx-content .conclusion > .para:first-child {
    margin-top: 0.5em;
}

.ptx-content ol, .ptx-content ul {
    margin-top: 0.75em;
}
.ptx-content .exercise-like > ol:first-child,
.ptx-content .exercise-like > ul:first-child {
    margin-top: 0;
}
.ptx-content .heading + ol, .ptx-content .heading + ul {
    margin-top: 0.45em;
}
.ptx-content li > .heading + ol, .ptx-content li > .heading + ul {
    margin-top: 0.25em;
}
.ptx-content li > .heading + ol > li:nth-child(1),
.ptx-content li > .heading + ul > li:nth-child(1) {
    margin-top: 0;
}
.ptx-content li > .heading + ol.cols2 > li:nth-child(2),
.ptx-content li > .heading + ul.cols2 > li:nth-child(2) {
    margin-top: 0;
}

.ptx-content li {
    margin-top: 0.5em;
}
.ptx-content li > .para:first-child {
    margin-top: 0;
}
.ptx-content article .para:first-child {
    margin-top: 0;
}

.ptx-content ol ol, .ptx-content ol ul,  .ptx-content ul ol, .ptx-content ul ul {
    margin-top: 0.5em;
}

.ptx-content .frontmatter > .heading {
    display: block;
    text-align: center;
}
.ptx-content .frontmatter > .heading .title, .ptx-content .book > .heading .title {
    font-size: 1.3em;
}
.ptx-content .frontmatter > .heading .subtitle, .ptx-content .book > .heading .subtitle {
    display: block;
    font-weight: normal;
    color: #666666;
    font-size: 0.875em;
    line-height: 1.42857em;
    margin-top: 0.35714em;
}

.ptx-content .frontmatter .author:first-of-type {
    margin-top: 4em;
}
.ptx-content .frontmatter > .para:first-of-type {
    margin-top: 4em;
}
.ptx-content .frontmatter > .author,
.ptx-content .frontmatter > .credit {
    margin-top: 2em;
    text-align: center;
}
.ptx-content .frontmatter .date {
    display: block;
    margin-top: 2em;
    text-align: center;
}
.ptx-content .frontmatter .credit .title {
    font-size: 1em;
}
.ptx-content .frontmatter .credit .author {
    font-size: 0.9em;
    margin-top: 0.75em;
}
.ptx-content .frontmatter .author-info {
    font-size: 90%;
}
.ptx-content a[href^="mailto:"] {
    white-space: pre;
}

@media print {
    .pretext #ptx-masthead,
    .pretext #ptx-navbar,
    .pretext .ptx-page > #ptx-sidebar,
    .pretext .ptx-page > .ptx-page-footer {
       display:none;
        border:none;
    }
    .pretext .ptx-page .ptx-main {
        margin-left:0;
        left:auto;
        border:none;
        box-shadow:none;
        padding: 0;
    }
    .pretext .ptx-page .ptx-main .ptx-content { margin-top:0 }
    .pretext .ptx-page .ptx-main .ptx-content.ptx-content section { margin-top:1em }
    .pretext .ptx-page .ptx-main .ptx-content.ptx-content section .heading { margin-top:0 }
}

/* printing for one-page worksheets */

@media print {
    body.standalone .ptx-content .worksheet {
        border: none;
    }
    body.standalone.worksheet #ptx-masthead {
        display: none;
    }

    body.standalone.worksheet.has-sidebar-left.mathbook-loaded .ptx-page .ptx-main {
        margin: 0;
    }

    body.standalone.worksheet .ptx-page > .ptx-main .ptx-content {
        margin: 0;
    }
    body.standalone.worksheet .ptx-content .onepage {
        max-height: 100%;
        max-width: 100%;
        overflow: hidden;
        page-break-after: always;
/*
        height: 1243px;
*/
        border: none;
        page-break-inside: avoid;
     }
     body.standalone.worksheet .ptx-content .onepage.lastpage {
        page-break-after: auto;
     }
    body.standalone.worksheet.a4 .ptx-content .onepage {
/*
        height: 1320px;
*/
    }
    body.standalone.worksheet .ptx-content .onepage .workspace,
    body.standalone.worksheet .ptx-content .onepage .workspace.squashed.tight {
        border: none;
        padding: 0;
        background: none !important;
    }
    body.standalone.worksheet a {
        color: black;
    }

    body.standalone.worksheet .ptx-page  .ptx-main {
        padding: 0;
    }

    body.standalone.worksheet.mathbook-loaded .ptx-page .ptx-main .ptx-content.ptx-content section.onepage {
        padding-bottom: 20px;  /* to help prevent flow onto the next page, particularly in Safari */
                              /* the page is not full length, but what is missing was blank anyway */
/*
        margin: 0;
*/
    }

    @page { margin: 0 }
}


/*******************************************************************************
 *
 * Authors: David Farmer, Rob Beezer
 *
 *******************************************************************************
 */
