/*******************************************************************************
 * pretext.css controls the overall arrangement of the blocks on the page.
 *******************************************************************************
 *
 * Authors: David Farmer, Rob Beezer
 *
 *******************************************************************************
 */

/* The overall structure is
  html
    head
    body.pretext
      header#masthead
      nav#primary-navbar
      div.page
        div.sidebar
          nav#toc
        main.main
          div#content
          div.content-footer
      div.page-footer
*/

.pretext #masthead {
  position: relative;
  background: #fafafa;
  min-height: inherit;
  border: none;
}

.pretext #primary-navbar {
  position: sticky;
  top: 0;
  max-width: 904px;
}

.pretext .page {
  position: relative;
}

.pretext #sidebar {
  position: sticky;
  top: 41px;
  float: left;
  width: 240px;
}

.pretext #toc {
    position: sticky;
    top: 50px;
    box-sizing: border-box;
    overflow-y: scroll;
    height: calc(100vh - 60px);
}

.pretext .page > .main {
  display: block;
  position: relative;
  overflow-y: hidden;
  margin: 0 0 0 240px;
  padding: 1px 0 0 0;
  background: white;
  border-left: 1px solid #ccc;
}
@media screen and (max-width: 800px) {
  .pretext .page > .main {
    /* Make space for navbar fixed to bottom of screen */
    padding-bottom: 35.36px;
    margin-left: 0;
    left: auto;
  }
}

.pretext .page > .main #content {
  max-width: 600px;
  margin: 32px;
}
@media screen and (max-width: 663px) {
  .pretext .page > .main #content {
    /* Decrease the margins */
    margin: 28px;
  }
}

#content.serif .para {
  font-family: "PT Serif", "Times New Roman", serif;
  font-size: 105%;
}
#content.serif #text-in-paragraphs .para,
#content.serif #Bcd .para,
#content.serif #interesting-corollary .para {
  font-family: "Noto", serif;
  font-size: 115%;
  line-height: 1.20;
}
#content.serif #table-calisthenics .para,
#content.serif #section-7 .para,
#content.serif #section-11 .para {
  font-family: "Tinos", serif;
  font-size: 115%;
  line-height: 1.30;
}

#content.serif #section-6 .para,
#content.serif #section-6 .para {
  font-family: "Noto", serif;
  font-size: 115%;
  line-height: 1.30;
}


/* text in lists was big */
#content.serif .para .para,
#content.serif #text-in-paragraphs .para .para,
#content.serif #Bcd .para .para,
#content.serif #interesting-corollary .para .para,
#content.serif #table-calisthenics .para .para,
#content.serif #section-7 .para .para,
#content.serif #section-11 .para .para {
  font-size: 100%;
}

#content.serif .code-inline {
  background: #f6f6f6;
  border: 1px solid #eee;
  padding: 0.01em 0.15em 0.03em 0.15em;
  margin-left: 0.15em;
  margin-right: 0.15em;
  border-radius: 0;
}

.pretext .content-footer {
    background: #fdf;
}
.pretext .page > .page-footer {
    margin-left: 240px;
    padding-left: 8em;
    background: #def;
}

@media screen and (max-width: 800px) {
  .pretext #sidebar {
    top: 1px;
  }
  .pretext #toc {
    height: calc(100vh - 50px);
  }
  .pretext .page > .page-footer {
    margin-bottom: 0;
    padding-left: 10px;
  }
  .pretext .content-footer {
    margin-bottom: 60px;
  }
  .pretext #primary-navbar #calculator-toggle,
  .pretext #primary-navbar .index-button {
    display: none;
  }
  .pretext #primary-navbar .sidebar-left-toggle-button {
    width: 25%;
  }
  .pretext #primary-navbar .threebuttons {
    width: 75%;
  }
  .pretext #primary-navbar #previousbutton,
  .pretext #primary-navbar #upbutton,
  .pretext #primary-navbar #nextbutton {
    width: 33.3%;
  }
}

@media screen and (max-width: 600px) {
  .pretext #sidebar {
    display: none;
  }
  .pretext .page > .page-footer {
    margin-left: 5em;
  }
}

/*******************************************************************************
 *
 * Authors: David Farmer, Rob Beezer
 *
 *******************************************************************************
 */
