/*******************************************************************************
 * shell_X.css controls the overall arrangement of the blocks on the page.
 *******************************************************************************
 *
 * Authors: David Farmer, Rob Beezer
 *
 *******************************************************************************
 */

/* The overall structure is
  html
    head
    body.pretext
      header.ptx-masthead
      nav.ptx-navbar
      div.ptx-page
        div.sidebar
          nav.ptx-toc
        main.ptx-main
          div.ptx-content
          div.ptx-content-footer
      div.ptx-page-footer
*/

.pretext .ptx-masthead {
  position: relative;
  background: #fafafa;
  min-height: inherit;
  border: none;
  position: relative;
}

.pretext .ptx-navbar {
  position: sticky;
  top: 0;
  max-width: 904px;
  height: 36px;
}

.pretext .ptx-page {
  position: relative;
  min-height: 100vh;
}
.ptx-content {
  min-height: 60vh;
}

.pretext .ptx-sidebar {
  position: sticky;
  top: 36px;
  left: 0;
  float: left;
  width: 240px;
}

.pretext .ptx-toc {
    position: sticky;
    top: 50px;
    box-sizing: border-box;
    overflow-y: scroll;
    height: calc(100vh - 60px);
}

.pretext .ptx-page > .ptx-main {
  display: block;
  position: relative;
  overflow-y: hidden;
  margin: 0 0 0 240px;
  padding: 1px 0 0 0;
  background: white;
  border-left: 1px solid #ccc;
}
.pretext .ptx-page .ptx-sidebar.hidden + .ptx-main {
  margin-left: 0;
}
.pretext .ptx-page > .ptx-main.notoc {
  margin-left: 0;
  transition-property: margin-left;
  transition-duration: 0.3s;
}
@media screen and (max-width: 800px) {
  .pretext .ptx-page > .ptx-main {
    margin-left: 0;
    left: auto;
  }
  .pretext .ptx-page-footer {
    /* Make space for navbar fixed to bottom of screen */
    margin-bottom: 38px;
  }
}

.pretext .ptx-page > .ptx-main .ptx-content {
  max-width: 600px;
  margin: 32px;
}
@media screen and (max-width: 663px) {
  .pretext .ptx-page > .ptx-main .ptx-content {
    /* Decrease the margins */
    margin: 28px;
  }
}

/*
.ptx-content.serif .para {
  font-family: "PT Serif", "Times New Roman", serif;
  font-size: 105%;
}
.ptx-content.serif #text-in-paragraphs .para,
.ptx-content.serif #Bcd .para,
.ptx-content.serif #interesting-corollary .para {
  font-family: "Roboto Serif", serif;
  font-size: 12pt;
  line-height: 1.20;
  font-variation-settings: 'wdth' 100;

}
.ptx-content.serif #table-calisthenics .para,
.ptx-content.serif #section-7 .para,
.ptx-content.serif #section-11 .para {
  font-family: "Tinos", serif;
  font-size: 115%;
  line-height: 1.30;
}

.ptx-content.serif #section-6 .para,
.ptx-content.serif #section-6 .para {
  font-family: "Noto", serif;
  font-size: 115%;
  line-height: 1.30;
}
*/

/* text in lists was big */
.ptx-content.serif .para .para,
.ptx-content[data-font="RS"] .para .para {
  font-size: 100%;
}

.ptx-content[data-font="RS"] .code-inline {
  background: #f6f6f6;
  border: 1px solid #eee;
  padding: 0.01em 0.15em 0.03em 0.15em;
  margin-left: 0.15em;
  margin-right: 0.15em;
  border-radius: 0;
}

.pretext .ptx-content-footer {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin-left: 32px;
}

.pretext .ptx-content-footer .button {
  min-width: 80px;
  height: 35px;
  color: #333333;
  background-color: #ededed;
  border: 1px solid #bababa;
  padding: 0 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  /* Disable accidental text-selection */
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pretext .ptx-content-footer .button .icon {
  margin: 0 -7px; /* icons have lots of whitespace */
}

.pretext .ptx-content-footer .button:hover,
.pretext .ptx-content-footer .button:active,
.pretext .ptx-content-footer .button:focus {
  background-color: #fafafa;
}


.pretext .ptx-sidebar.visible {
  display: block;
}


.pretext .ptx-page-footer .feedback-link {
  cursor: pointer;
  text-align: center;
  color: #333333;
  background-color: #ededed;
  border: 1px solid #bababa;
  margin: 1.5em 0 0 0;
  padding: 0 1em 0 1em;
  height: 2em;
  display: flex;
  align-items: center;
}
.pretext .ptx-page-footer {
    background: #f4f4f4;
    margin-top: 2em;
    padding-top: 0;
    max-width: 900px;
    border-top: 2px solid var(--sectiontoctext);
    border-bottom: 2px solid var(--sectiontoctext);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    position: relative;
/*
    z-index: 100;
*/
}

.pretext .ptx-page-footer > a {
  margin: 1em 0;
}
.pretext .ptx-page-footer > a > .logo:first-child {
    height: 3em;
    width: unset;
    margin: 0;
}



@media screen and (max-width: 800px) {
  .pretext .ptx-navbar {
    position: fixed;
    top: auto;
    bottom: 0;
    z-index: 1100;
   }
  .pretext .ptx-sidebar {
    display: none;
    position: fixed;
    top: 10px;
    z-index: 1000;
    background: white;
  }
  .pretext .ptx-content-footer {
    display: none;
  }
/*
  .pretext .ptx-content-footer {
    margin-bottom: 60px;
  }
*/
  .pretext .ptx-toc {
    height: calc(100vh - 50px);
  }
}

/*******************************************************************************
 *
 * Authors: David Farmer, Rob Beezer
 *
 *******************************************************************************
 */
