/*******************************************************************************
 * shell_X.css controls the overall arrangement of the blocks on the page.
 *******************************************************************************
 *
 * Author: Thomas Shemanske
 *
 *******************************************************************************
 */

/* The overall structure is
  html
    head
    body.pretext
      header#ptx-masthead
      nav#ptx-navbar
      div.ptx-page
        div.sidebar
          nav#ptx-toc
        main.ptx-main
          div.ptx-content
          div.ptx-content-footer
      div.ptx-page-footer
*/

/*  Supplied by colors_bluegreen_grey.css  */
/*
:root{
  --bluegreen: hsl(192, 98%, 23%);
  --bodytitle: var(--bluegreen);
  --bodysubtitle: var(--bluegreen);
}
*/


/* Elements introduced in order of appearance */

/* .ptx-container  */
body.pretext {
    position: relative;
    max-width: 904px;  /* To match PreTeXt */
    margin: 0 auto 0 auto;  /* centered content */
    padding: 0;
    box-sizing: border-box;
}

/* .ptx-masthead-wrapper  */
#ptx-masthead {
    border: 2px solid #ddd;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*     overflow: hidden;*/  /* otherwise the rounded corners are not visible */
    z-index: 100;
}
#ptx-masthead {
    position: relative;
    background: #fafafa;
    min-height: inherit;
    box-shadow: none;
}
#ptx-masthead {
    max-width: 904px;
    border-right: 1px solid #bababa;
}
@media only screen and (min-width: 600px) {
    /*   .ptx-masthead-wrapper {*/
    #ptx-masthead {
        z-index: 100;
    }
}

/* .ptx-main-wrapper  */
.ptx-page {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.0em;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
        "toc main-content"
        "toc content-footer";
}

/* MH-toc dropdown Content (Hidden by Default) */
#ptx-sidebar {
    position: sticky;
    top: 34px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 240px;
    max-height: 100vh;
    height: 100vh;
    grid-area: toc;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid var(--bluegreen);
    border-radius:5px;
    z-index: 1;
}

/* .ptx-main-content  */
.ptx-page > .ptx-main {
    grid-area: main-content;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    justify-self: start;
    max-width: 664px;
    width: 97vw;
    transition: 0s;
    padding: 0;
    margin: 0;
    z-index: 0;  /* Added so horizontal scrollbars in content don't bleed into TOC dropdown */
    //    overflow-y: auto;
    //    border: 2px solid green;
}

@media only screen and (min-width: 500px) {
    .ptx-page > .ptx-main {
	margin: 0;
	max-width: 664px;
	width: min(100vw,664px);
	justify-self: center;
	/*      width: 570px; @ 810px */
    }

}
.ptx-page > .ptx-main > .ptx-content {
    margin-left: 2em;
}

/* Content footer wrapper playground */

.pretext .ptx-page .ptx-content-footer {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "content-footer-prev content-footer-top content-footer-next";
    border: 2px solid #f00;
    margin-left: 32px;
    margin-top: 10px;
}

.ptx-content-footer .previous-button {
    grid-area: content-footer-prev;
    background-color: yellow;
    justify-self: start;
    align-self: center;
    margin: 20px;
    padding: 5px;        
}

.ptx-content-footer .previous-button .name{
    margin: 10px;
    border: 2px solid #0f0;
    padding: 5px;
    border-radius: 5px;
}

.ptx-content-footer .previous-button .icon{
    border: 2px solid #0f0;
} 

.ptx-content-footer .top-button{
    grid-area: content-footer-top;
    background-color: yellow;
    justify-self: center;
    align-self: center;
    margin: 20px;
    padding: 5px;
}

.ptx-content-footer .top-button .name{
    margin: 10px;
    border: 2px solid #0f0;
    padding: 5px;
    border-radius: 5px;
}

.ptx-content-footer .top-button .icon{
    border: 2px solid #0f0;
} 

.ptx-content-footer .next-button {
    grid-area: content-footer-next;
    background-color: yellow;
    justify-self: end;
    align-self: center;
    margin: 20px;
    padding: 5px;
}

.ptx-content-footer .next-button .name{
    margin: 10px;
    border: 2px solid #0f0;
    padding: 5px;
    border-radius: 5px;
}

.ptx-content-footer .next-button .icon{
    border: 2px solid #0f0;
} 

/* Page footer wrapper playground */
.ptx-page-footer {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "page-footer-feedback page-footer-pretext  page-footer-mathjax";
    border: 2px solid #00f;
    margin-top: 10px;
    justify-items: stretch;
}

.ptx-page-footer .feedback-link{
    grid-area: page-footer-feedback;
    border: 2px solid red;
    justify-self: start;
    align-self: center;
    margin: 20px;
    padding: 5px;
    background-color: yellow;
}
.ptx-page-footer  .pretext-link{
    grid-area: page-footer-pretext;
    background-color: yellow;
    margin: 20px;
    padding: 5px;
    width: 70%;
    border: 2px solid red;
}


.ptx-page-footer  .pretext-link .name {
    display: block;
}

.ptx-page-footer  .pretext-link .logo {
    display: block;
}


.ptx-page-footer .mathjax-logo {
    grid-area: page-footer-mathjax;
    justify-self: end;
    align-self: center;
    margin-right: 20px;
    padding: 0px;
    border: 2px solid red;
    background-color: yellow;
    
}
