:root {
  --documenttitle: #395E66;
  --bodytitle: #A62E1C;
  --bodysubtitle: #2B5F82;
  --bodytitlehighlight: #e0e9ff;
  --bodysubtitlehighlight: #FCE5E4;

  --chaptertoc: #395E66;
  --chaptertoctext: white;
  --chaptertocactive: #00A092;
  --chaptertoctextactive: white;
  --sectiontoc: #f0f0f0;
  --sectiontoctext: #395E66;
  --sectiontocactive: var(--chaptertocactive);
  --sectiontoctextactive: var(--chaptertoctextactive);
  --tocborder: #1f4283;

  --highlighttoc: #223843;
  --highlighttoctext: white;
  --highlighttocborder: white;

  --assemblageborder: #bfd5ec;
  --assemblagebackground: #e9eff5;

  --knowlborder: #e0e9ff;
  --knowlbackground: #f5f8ff;

}


.pretext-content .assemblage-like {
  border-radius: 3px;
  margin-bottom: 1em;
}

.pretext-content .assemblage-like .heading{
    margin-top: -1.25em;
    background-color: #bfd5ec;
    display: table;
    padding: 5px 10px;
}

.pretext-content .assemblage-like .MJXc-display {
    background-image: none;
    background-image: linear-gradient(to right, #e9eff5, #e9eff5), linear-gradient(to right, #e9eff5, #e9eff5), linear-gradient(to right, rgba(0,0,0,.25), rgba(242,242,254,0)), linear-gradient(to left, rgba(0,0,0,.25), rgba(242,242,254,0));
}

/* Remove Greg-L on assemblage and everything else */
/* maybe obsolete onse the styles are separated */
.pretext-content article.theorem-like::after, .pretext-content article.definition-like::after, .pretext-content article.example-like::after, .pretext-content article.project-like::after, .pretext-content article.objectives::after, .pretext-content article.outcomes::after, .pretext-content article.remark-like::after {
  border-bottom: none;
}

article[id*='investigation'], .pretext-content .objectives {
  background-color: white;
  border: solid 3px #395E66;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1em;
}

article[id*='investigation'] .heading, .pretext-content .objectives .heading {
  margin-top: -1.5em;
  background-color: white;
  display: table;
  padding: 5px 1em;
  margin-left: 5px;
  font-style: italic;
  font-size: 120%;
}

article[id*='investigation'] .codenumber, .pretext-content .objectives .codenumber {
  display:none;
}

article[id*='investigation'] .heading::after, .pretext-content .objectives .heading::after {
  display:none;
}

article[id*='example'] {
  border-left: solid 1pt #395E66;
  border-bottom: solid 1pt #d1d1d1;
  padding-left: 1ex;
  padding-bottom: 0.5ex;
  /* margin-left: 1ex; */
}

.pretext-content section article.example-like {
    padding-left: 0.8em;
    padding-bottom: 0.5em;
    border-left: 0.1em solid #3b0082;
    border-bottom: 0.1em solid #3b0082;
}

.pretext-content section article.example-like > .heading {
/*
.pretext-content section article.example-like > a .heading,
.pretext-content section section article.example-like > a .heading,
.pretext-content .abstract > .heading {
*/
/*
    font-size: 1.125em;
    line-height: 1.125em;
    margin-top: 0;
*/

    display: inline-block;
    padding: 0.3em 0.5em;
    background: #3b0082;
    color: #fff;
    margin-left: -0.7em;
}
.pretext-content section article.example-like > .heading::after {
    content: "";
}

.pretext-content section article.example-like > .heading + p,
.pretext-content section article.example-like > .heading + .introduction {
    display: block;
    padding-top: 0.3em;
}


.posterior {
  margin-left: 1ex;
  padding-left: 1ex;
  margin-top: -1.25em;
  padding-top: 1ex;
  border-left: solid 1pt gray;
}

/*separate proof environment in example solutions:*/
/* article .remark-like .proof {
  margin-top: 1em;
  padding-left: 1ex;
} */

article.proof {
  padding-top: 1ex;
  padding-left: 1em;
  padding-right: 1em;
  border-right: none;
}

/*change qed symbol:*/
.pretext-content .proof:after{
  content: "qed";
  font-variant: small-caps;
  font-size: 1.1em;
  margin-right: 0em;
  border-bottom: none;
  margin-top: -1em;
}

/* article.example-like:after {
  border-bottom: none !important;
} */

article.theorem-like {
    padding-left: 0.4em;
    border-left: solid 1pt #d1d1d1;
}

/* check if the following is needed once the default style is not read in first */
article.theorem-like:after {
  border-bottom: none;
}

/*style toc */
/*#toc ul li a, #toc ul li a:link, #toc ul li a:visited {
    color: #20477b;
    background: #e2e6e8;
}*/

pretext-content .summary-links a, .pretext-content .summary-links a:link, .pretext-content .summary-links a:visited {
    color: #395E66;
    background: #f0f0f0;
    text-decoration: none;
    cursor: pointer;
}



.pretext-content .summary-links a:hover, .pretext-content .summary-links a:focus {
    color: white;
    background: #223843;
    text-decoration: none;
}


#masthead #logo-link img, #masthead .logo-link img {
    width: auto;
    height: auto;
    max-height: 1.2em;
}
