@import url("style_default.css");

/* handle margin of articles that items might be nested inside */
/* first change nesting unit to px to avoid font-size issues */
.ptx-content
  article:is(
    .theorem-like,
    .definition-like,
    .example-like,
    .project-like,
    .remark-like,
    .openproblem-like,
    .openproblems-like,
    .computation-like
  ) {
  padding-left: 10px;
}
/* now overcome the indentation */
.ptx-content
  article:is(
    .theorem-like,
    .definition-like,
    .example-like,
    .project-like,
    .remark-like,
    .openproblem-like,
    .openproblems-like,
    .computation-like
  )
  > .ptx-runestone-container
  > .runestone:is(.ac_section, .codelens, .parsons_section, .hparsons_section),
/* .ptx-content
  article:is(
    .theorem-like,
    .definition-like,
    .example-like,
    .project-like,
    .remark-like,
    .openproblem-like,
    .openproblems-like,
    .computation-like
  )
  > pre.program, */
.ptx-content
  article:is(
    .theorem-like,
    .definition-like,
    .example-like,
    .project-like,
    .remark-like,
    .openproblem-like,
    .openproblems-like,
    .computation-like
  )
  > .ptx-runestone-container
  > .runestone.datafile,
.ptx-content
  article:is(
  .theorem-like,
  .definition-like,
  .example-like,
  .project-like,
  .remark-like,
  .openproblem-like,
  .openproblems-like,
  .computation-like
) .contains-wide {
  margin-left: calc(var(--xl-margin) - 10px);
}



.ptx-content .datafile pre {
  border: 1px solid #616160;
  border-radius: 3px;
  padding: 10px;
}

.ptx-content .runestone.datafile {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.ptx-content .datafile_caption {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

.ac_actions {
  font-size: 1rem;
  margin-bottom: 5px;
}

.ptx-content .ptx-runestone-container .ac_output {
  margin-bottom: 10px;
}

.ptx-content .ptx-runestone-container .codelens {
  margin-bottom: 10px;
}

.ptx-content .ptx-runestone-container .ac_output pre {
  width: 100%;
  max-width: var(--content-width);
  margin: 10px auto;
}
.ptx-runestone-container .ac-canvas {
  margin-left: calc(50% - 202px);
}
.ptx-runestone-container .ac-canvas:empty {
  display: none;
}

.runestone_caption {
  font-size: 1rem;
}

.ptx-runestone-container .unittest-results table {
  background: white;
}

.ptx-content .ptx-runestone-container div.ExecutionVisualizer table.visualizer {
  width: 100%;
}

.ptx-content table tr td {
  font-size: 1rem;
}

.pretext .ptx-content-footer {
  align-items: stretch;
}


/*change margin to px to avoid font size issues */
.ptx-content
  article:is(
    .theorem-like,
    .definition-like,
    .example-like,
    .project-like,
    .remark-like,
    .openproblem-like,
    .openproblems-like,
    .computation-like
  )::after {
  margin-left: -10px;
}

.video-box {
  margin: 0.75em auto !important;
}

.ac_code_div {
  margin-top: 10px;
}

.pretext .ptx-runestone-container .ac_actions {
  max-width: var(--content-width);
  margin: 0 auto;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.pretext .ptx-runestone-container .ac_actions > * {
  flex: 0 1;
  margin: 0 !important;
}


.pretext .ptx-runestone-container .ac_actions > div:first-of-type {
  display: flex !important;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  flex-grow: 1;
}

.ptx-runestone-container .unittest-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ptx-content pre.program.line-numbers,
.ptx-content pre.code-block.line-numbers {
  overflow-x: auto;
}

.hparsons_section {
  max-width: unset !important;
}

.hparsons_section > :not(.hparsons_section, .hp_question) {
  max-width: unset !important;
}

.ptx-runestone-container .hparsons_section .hp_question {
  max-width: var(--content-width);
}

.matching_section > div > div {
  font-size: 1rem;
  clear: both;
}
.matching_section > div > div:first-of-type {
  font-size: var(--content-font-size);
}

@media screen and (max-width: 600px) {
  .pretext .ptx-runestone-container .ac_actions > * {
    white-space: break-spaces;
    flex-grow: 1;
  }
}
