
/*
:root {
  --documenttitle: #395E66;
  --bodytitle: #A62E1C;
  --bodysubtitle: #2B5F82;
  --bodytitlehighlight: #e0e9ff;
  --bodysubtitlehighlight: #FCE5E4;

  --chaptertoc: #395E66;
  --chaptertoctext: white;
  --chaptertocactive: #00A092;
  --chaptertoctextactive: white;
  --sectiontoc: #f0f0f0;
  --sectiontoctext: #395E66;
  --sectiontocactive: var(--chaptertocactive);
  --sectiontoctextactive: var(--chaptertoctextactive);
  --tocborder: #1f4283;

  --highlighttoc: #223843;
  --highlighttoctext: white;
  --highlighttocborder: white;

  --assembborder: #bfd5ec;
  --assembbackground: #e9eff5;

  --knowlborder: #e0e9ff;
  --knowlbackground: #f5f8ff;

}
*/


:root {
/* Set colors for blocks */
  
  --assembbackground: var(--infolight, hsl(210, 40%, 94%));
  --assembborder: var(--info, hsl(210, 40%, 75%));
  --assembheading: var(--infodark, hsl(210, 40%, 25%));
  --definitionbackground: var(--secondarylight, hsl(180, 40%, 94%));
  --definitionborder: var(--secondarydull, hsl(180, 40%, 75%));
  --definitiondarkborder: var(--secondaryrich, hsl(180, 40%, 25%));
  --theorembackground: var(--primarylight, hsl(270, 40%, 94%));
  --theoremborder: var(--primary, hsl(270, 40%, 75%));
  --theoremdarkborder: var(--primarydark, hsl(270, 40%, 25%));
  --examplebackground: var(--primarylight, hsl(240, 40%, 94%));
  --example: var(--primary, hsl(240, 40%, 75%));
  --exampledark: var(--primarydark, hsl(240, 40%, 25%));
  --projectbackground: var(--primarylight, hsl(180, 40%, 94%));
  --projectborder: var(--primary, hsl(180, 40%, 75%));
  --investigateborder: var(--primaryrich, hsl(180, 40%, 25%));

  /* --knowlborder: var(--bodytitlehighlight);
  --knowlborder: white;
  --knowlbackground: var(--assembbackground);
  --knowlbackground: white; */
}

/* Remove Greg-L on assemblage and everything else */
/*
.pretext-content article.theorem-like::after, .pretext-content article.definition-like::after, .pretext-content article.example-like::after, .pretext-content article.project-like::after, .pretext-content article.objectives::after, .pretext-content article.outcomes::after, .pretext-content article.remark-like::after {
  border-bottom: none;
}
*/

.pretext-content .assemblage-like,
.pretext-content .definition-like,
.pretext-content .theorem-like {
    margin-top: 1.25em;
    padding: 1em;
    border-radius: 3px;
    margin-bottom: 1em;
}

/* backgrounds and borders: */
.pretext-content .assemblage-like{
    background-color: var(--assembbackground);
    border: 2px solid var(--assembborder);
}

.pretext-content .theorem-like {
  background-color: var(--theorembackground);
/*  border-left: 2px solid var(--theoremborder);
*/
  border: 2px solid var(--theoremborder);

}

.pretext-content .theorem-like.theorem,
.pretext-content .theorem-like.principle {
    background-color: var(--theorembackground);
    border: 2px solid var(--theoremborder);
}

.pretext-content .definition-like {
    background-color: var(--definitionbackground);
    border: 2px solid var(--definitionborder);
}

/* .pretext-content .example-like {
    background-color: var(--examplebackground);
    border: 2px solid var(--exampleborder);
} */

/* .pretext-content .theorem-like.proposition,
.pretext-content .theorem-like.lemma,
.pretext-content .theorem-like.corollary {
    background-color: var(--theorembackground);
    border-left: 2px solid var(--theoremborder);
} */

.pretext-content .assemblage-like .heading,
.pretext-content .definition-like .heading,
.pretext-content .theorem-like.theorem .heading {
  margin-top: -1.75em;
  margin-left: -0.25em;
  display: table;
  padding: 0.25em 0.4em;
}

.pretext-content .assemblage-like .heading {
  background-color: var(--assembborder);
  color: #000;
}

.pretext-content .definition-like .heading {
  background-color: var(--definitionborder);
  color: #000;
}

.pretext-content .theorem-like.theorem .heading {
  background-color: var(--theoremborder);
  color: #000;
}
/* .pretext-content .theorem-like.corollary .heading {
    background-color: var(--bodysubtitlehighlight);
    border: 2px solid var(--bodysubtitle);
}
.pretext-content .theorem-like.principle .heading {
    background-color: var(--assembborder);
} */

.pretext-content .assemblage-like .heading::after,
.pretext-content .theorem-like.theorem .heading::after,
.pretext-content .theorem-like.principle .heading::after {
    content: "";
}
.pretext-content .assemblage-like .heading + p,
.pretext-content .theorem-like.theorem .heading + p,
.pretext-content .definition-like .heading + p {
    display: block;
}

/* These gradients need to be adjusted to match background colors */
.pretext-content .assemblage-like .MJXc-display,
.pretext-content .definition-like .MJXc-display,
.pretext-content .theorem-like.theorem .MJXc-display {
    background-image: linear-gradient(to right, #e9eff5, #e9eff5), linear-gradient(to right, #e9eff5, #e9eff5), linear-gradient(to right, rgba(0,0,0,.25), rgba(242,242,254,0)), linear-gradient(to left, rgba(0,0,0,.25), rgba(242,242,254,0));
}
.pretext-content .theorem-like.corollary .MJXc-display {
    background-image: linear-gradient(to right, var(--bodytitlehighlight), var(--bodytitlehighlight)), linear-gradient(to right, var(--bodytitlehighlight), var(--bodytitlehighlight)), linear-gradient(to right, rgba(0,0,0,.25), rgba(242,242,254,0)), linear-gradient(to left, rgba(0,0,0,.25), rgba(242,242,254,0));
}

.pretext-content .goal-like {
  background-color: white;
  border-radius: 0em;
  padding: 0.7em;
  margin-bottom: 1em;
}
.pretext-content .goal-like.objectives {
  border-top: solid 3px var(--bodysubtitle);
  border-bottom: solid 3px var(--bodysubtitle);
}
.pretext-content .goal-like.outcomes {
  border-top: solid 3px var(--bodytitle);
  border-bottom: solid 3px var(--bodytitle);
}

.pretext-content .goal-like .heading {
  margin-top: -1.5em;
  background-color: white;
  display: table;
  padding: 5px 1em;
  margin-left: 10px;
  font-style: italic;
  font-size: 120%;
}

/* .pretext-content .goal-like .codenumber {
  display:none;
}

.pretext-content .goal-like .heading::after {
  display:none;
} */


.pretext-content section article.project-like {
  background-color: white;
  border: solid 3px var(--projectborder);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1em;
}

.pretext-content section article.project-like.investigation {
  border-color: var(--investigateborder);
}

.pretext-content section article.project-like > .heading {
  margin-top: -1.5em;
  background-color: white;
  display: table !important;
  padding: 5px 1em;
  margin-left: 10px;
  font-style: italic;
  font-size: 120% !important;
}

.pretext-content section article.example-like {
    padding-left: 0.8em;
    padding-bottom: 0.5em;
}

.pretext-content section article.example-like {
    border-left: 0.1em solid var(--exampleborder);
    border-bottom: 0.1em solid var(--exampleborder);
}
.pretext-content section article.example-like.example {
    border-left: 0.1em solid var(--exampledarkborder);
    border-bottom: 0.1em solid var(--exampledarkborder);
}
.pretext-content section article article.example-like,
.pretext-content section article article.example-like.example {
    border: none;
}


.pretext-content section article.example-like > .heading {
    display: inline-block;
    padding: 0.3em 0.5em;
    margin-left: -0.8em;
}


.pretext-content section article.example-like.example > .heading {
  border: 0.1em solid var(--exampledark);   /* maybe no border-left? */
}


.pretext-content section article.example-like > .heading {
  background: var(--example);
  color: black;
}

.pretext-content section article.example-like.example > .heading {
  background: var(--exampledark);
  color: #fff;
}


.pretext-content section article.example-like > .heading::after,
.pretext-content section article.project-like.project > .heading::after,
.pretext-content section article.project-like.activity > .heading::after,
.pretext-content section article.project-like.exploration > .heading::after {
    content: "";
}

.pretext-content section article.example-like > .heading + p,
.pretext-content section article.example-like > .heading + .introduction {
    display: block;
    padding-top: 0.3em;
}

/* remark-like notes get a dotted Greg's L */
.pretext-content .remark-like.note {
    padding-left: 0.5em;
    border-left: 1px dotted #569;
}
.pretext-content .remark-like.note::after {
    content:'';
    border-bottom: 1px dotted #569;
    display: block;
    margin-right: auto;
    margin-left: -0.5em;
    padding-top: 0.25em;
    width: 1.5em;
}
/* theorem-like claims get a slightly wide solid Greg's L in the subtitle color */
.pretext-content .theorem-like.claim {
    padding-left: 0.5em;
    border-left: 2px solid var(--bodysubtitle);
}
.pretext-content .theorem-like.claim::after {
    content:'';
    border-bottom: 2px solid var(--bodysubtitle);
    display: block;
    margin-right: auto;
    margin-left: -0.5em;
    padding-top: 0.25em;
    width: 1.5em;
}

.pretext-content section > .proof {
    margin-bottom: 1em;
}


/* where does this appear? */
/* .posterior {
  margin-left: 1ex;
  padding-left: 1ex;
  margin-top: -1.25em;
  padding-top: 1ex;
  border-left: solid 1pt gray;
} */

