@import url("toc_default.css");

.pretext .ptx-sidebar {
  display: none;
  width: 0;
}

.pretext .ptx-sidebar {
  position: sticky;
  top: 36px;
  z-index: 10;
  height: 0;
}

.pretext .ptx-sidebar.visible {
  position: sticky;
  top: 36px;
  z-index: 10;
  height: 0;
}

.pretext .ptx-sidebar .ptx-toc {
  width: 360px;
  background-color: var(--page-color);
  border: 1px solid var(--tocborder)
}

.pretext .ptx-page .ptx-main {
  margin-left: inherit;
}

.ptx-toc::after {
  height: auto;
  max-width: 100px;
  margin: 0 auto;
}
