:root {
    --toc-codenumber-width: 18px;
    --toc-chevron-width: 20px;
}

#toc ul {
    list-style: none;
    margin: unset;
    padding: unset;
    font-size: 14.72px;
}

#toc a {
    font-weight: bold;
    font-family: "PT Serif", "Times New Roman", Times, serif;
}

#toc li {
    margin-top: 3px;
    overflow: hidden;
    color: var(--chaptertoctext);
    position: relative;
}
#toc li:first-child {
    margin-top: unset;
}

#toc a {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 1px 3px;
}

.toc-item {
    display: flex;
    background-color: var(--chaptertoc);
    border: 1px solid var(--tocborder);
    border-left: unset;
    border-right: unset;
}

#toc .codenumber {
    display: block;
    padding-right: 4px;
    text-align: end;
    width: var(--toc-codenumber-width);
    flex-shrink: 0;
}
#toc .title {
    flex-grow: 1;
}

/* Adjust the display of nested items */
#toc li li {
    margin-top: 0px;
}
#toc li li .toc-item {
    border-bottom: unset;
    border-color: rgb(209, 209, 209);
    background-color: var(--sectiontoc);
    color: var(--sectiontoctext);
}
#toc li li a {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding-left: 30px;
}
#toc li li li a {
    padding-left: 45px;
}
.toc-chevron-surround {
    padding-left: 4px;
    display: flex;
    justify-content: space-around;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    width: var(--toc-chevron-width);
    cursor: pointer;
}
.toc-chevron-surround:hover,
.toc-chevron-surround:focus-visible {
    background-color: var(--highlighttoc) !important;
    color: var(--sectiontoctextactive);
}
.toc-item a.active ~ .toc-chevron-surround {
    background-color: var(--sectiontocactive);
    color: var(--sectiontoctextactive);
}
.toc-item a:hover ~ .toc-chevron-surround {
    background-color: var(--highlighttoc);
    color: var(--sectiontoctextactive);
}
.chevron-rotator {
    position: relative;
}
.chevron-wrapper {
    box-sizing: border-box;
    display: block;
    margin: 0px;
    text-align: center;
}

.chevron-wrapper {
    transform: rotate(0deg);
    transform-origin: 2px 10px;
    transition: transform 0.5s;
}
.toc-chevron-surround.open .chevron-wrapper {
    transform: rotate(90deg);
}
