/* Michael Chorley, MIT License, 2018-04-25                      */
/* https://bl.ocks.org/martinjc/7aa53c7bf3e411238ac8aef280bd6581 */

text {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.link {
  fill: none;
  stroke: #ddd;
  stroke-width: 1px;
}

.node {
  stroke: #000;
  stroke-width: 1px;
}
