// Entrypoint to get all legacy color schemes

@use 'colors_blue_green.css';
@use 'colors_blue_grey.css';
@use 'colors_blue_red.css';
@use 'colors_blue_red_dark.css';
@use 'colors_bluegreen_grey.css';
@use 'colors_brown_gold.css';
@use 'colors_darkmartiansands.css';
@use 'colors_default.css';
@use 'colors_focused_gray_aqua.css';
@use 'colors_focused_light.css';
@use 'colors_green_blue.css';
@use 'colors_green_plum.css';
@use 'colors_maroon_grey.css';
@use 'colors_martiansands.css';
@use 'colors_orange_navy.css';
@use 'colors_pastel_blue_orange.css';
@use 'colors_red_blue.css';
@use 'colors_ruby_amethyst.css';
@use 'colors_ruby_emerald.css';
@use 'colors_ruby_turquoise.css';
@use 'setcolors.css';
