//$color: var(--primary-color) !default;
//$text-color: white !default;

@use 'components/page-parts/extras/toc-expand-chevrons';


.hide-type .codenumber:not(:empty)::after {
    content: ". ";
}

//:root {
//  &:not(.dark-mode) {
//    section > .heading.hide-type {
//      background: var(--primary-color-white-30);
//      padding: 5px;
//      padding-left: 15px;
//      color: var(--page-color);
//      border-radius: 2px;
//    }

//    // Section heading is extra dark
//    section.section > .heading{
//      background-color: var(--primary-color);
//    }
//  }
//}

//// Top heading followed by no content and then a subsection that starts with heading
//section > .heading + section > .heading {
//  margin-top: 0.5em;
//}

