- var name = "content of variable <q>name</q>"

introduction
    p.
        Besides these basics, Pug also offers #[q true] includes.
        This means, just write the text and don't think about additional overheads,
        like that it also has to be an XML document.

    p.
        This makes it easy to divide your document into smaller parts,
        while PreTeXt will see the #[q full] XML file later on.

subsection

    title Variables and Code

    p.
        You can use variables like that: !{name}.
        They are pre-processed by Pug and inserted via string interpolation.

    p
        | You could even go ahead and include some code in your template,
        | or use #[q mixins] as macros.
        | E.g. below here, this variable is inserted several times in a for loop:
        ul
            - for (var x = 1; x <= 5; x++)
                li This is iteration #{x}, inserting variable name: !{name}

