
.fillin {
  display: inline-block;
  border-bottom-style: solid;
  border-width: 1px;
  margin-right: 0.1em;
  margin-bottom: -0.25em;

  .underline {
    display: inline-block;
    border-bottom-style: solid;
    border-width: 1px;
    margin-right: 0.1em;
    margin-bottom: -0.25em;
  }

  .box {
    display: inline-block;
    border: none;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: -0.25em;
    outline: 1px solid black;
    height: 1.3em;
  }
  
  .shade {
    display: inline-block;
    border: none;
    margin-right: 0.1em;
    margin-left: 0.1em;
    margin-bottom: -0.25em;
    background-color: #eee;
    height: 1.3em;
  }
}
