// Types of ol/ul - used by web and ebooks
// Any spacing should be in _lists.scss, not here

ol.no-marker,
ul.no-marker,
li.no-marker {
    list-style-type: none;
}

ol.decimal {
    list-style-type: decimal;
}

ol.lower-alpha {
    list-style-type: lower-alpha;
}

// Match LaTeX style for second level (i.e. level="1") lists
ol.lower-alpha-level-1 > li::marker {
    content: "("counter(list-item,lower-alpha)") ";
}

ol.upper-alpha {
    list-style-type: upper-alpha;
}

ol.lower-roman {
    list-style-type: lower-roman;
}

ol.upper-roman {
    list-style-type: upper-roman;
}

ul.disc {
    list-style-type: disc;
}

ul.square {
    list-style-type: square;
}

ul.circle {
    list-style-type: circle;
}
