// TODO - refactor

.displaymath {
  overflow-x: auto;
  overflow-y: hidden;
}

.displaymath mjx-container[jax="CHTML"][display="true"] {
  margin: 0 0 0 0;  // container is going to apply margin, so remove it from mjx-container
  padding-top: 2px; // Chrome sometimes clips the top 1-2 pixels of math after it has been scaled - provide room for that content
}

// ?
[data-knowl] > mjx-mrow .TEX-I {
  font-family: MJXZERO !important;
  font-style: normal !important;
}

/* remove this when MathJax fixes the bug that was setting the width to 0 */
/* as in  $x=0$.  becomes  $x=0\text{.}$ */
.knowl mjx-mtext > mjx-utext,
mjx-mtext > mjx-utext {
    width: revert !important;
}
mjx-msup mjx-utext,
mjx-msub mjx-utext {
    display: inline;
}