/*! Theme: reveal */
@use "components/elements/list-styles";

ul {
  display: block !important;
}

dfn {
  font-weight: bold;
}

.cols1 li,
.cols2 li,
.cols3 li,
.cols4 li,
.cols5 li,
.cols6 li {
  padding-right: 2em;
}

/* Callout boxes */
// Note: the box around a "theorem" does not contain
// the associated "proof" because the HTML does not
// provide an enclosure containing both.
.definition-like,
.theorem-like,
.proof,
.project-like {
  border-width: 0.5px;
  border-style: solid;
  border-radius: 2px 10px;
  padding: 1%;
  margin-bottom: var(--r-block-margin);
}

.definition-like {
  background: color-mix(in srgb, var(--r-background-color) 75%, #006080);
}

.theorem-like {
  background: color-mix(in srgb, var(--r-background-color) 75%, #a00);
}

.proof {
  background: color-mix(in srgb, var(--r-background-color) 75%, #aaa);
}

.project-like {
  background: color-mix(in srgb, var(--r-background-color) 75%, #608000);
}

/* Image-like */
.reveal img {
  border: 0.5px !important;
  border-radius: 2px 10px;
  padding: 4px;
}

.ptx-content :is(.image-box, .audio-box, .video-box, .asymptote-box) {
  position: relative;
}

.ptx-content iframe.asymptote,
.ptx-content .video-box .video,
.ptx-content .video-box .video-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Code-like blocks */
.code-inline {
  background: color-mix(in srgb, var(--r-background-color) 75%, var(--r-link-color));
  padding: 0 3px;
  border: 1px solid;
  margin: 3px;
  display: inline-block;
}

.sagecell_sessionOutput {
  background: white;
  color: black;
  border: 0.5px solid var(--r-main-color);
}

.reveal pre {
  box-shadow: none;
  line-height: 1;
  font-size: inherit;
  width: auto;
  margin: inherit;
}

.reveal pre code {
  display: block;
  padding: 0;
  overflow: unset;
  max-height: unset;
  word-wrap: normal;
}

.program {
  background: color-mix(in srgb, var(--r-background-color) 75%, var(--r-link-color));
  max-height: 450px;
  overflow: auto;
  border: 0.5px solid var(--r-main-color);
}

.ptx-sagecell,
.reveal .program {
  font-size: calc(var(--r-main-font-size) * 0.6);
}

code[class*="language-"],
pre[class*="language-"] {
  padding: 0;
  line-height: 1.2;
}
