/*! Theme: wide-legacy */
// Imports in this file should be relative to css root
@use 'legacy/pretext.css';
@use 'legacy/pretext_add_on.css';
@use 'legacy/pretext_search';
@use 'targets/html/legacy/wide/shell_wide.scss';
@use 'targets/html/legacy/wide/banner_wide.scss';
@use 'targets/html/legacy/wide/navbar_wide.scss'; 
@use 'targets/html/legacy/wide/toc_wide.scss';
@use 'targets/html/legacy/default/knowls_default.css';
@use 'targets/html/legacy/wide/style_wide.scss';
@use 'legacy/colors/all_colors.scss';
