// shared toc styling used by _toc-default, etc...

$sidebar-width: 240px !default;
$nav-height: 36px !default;



.ptx-sidebar {
  align-self: flex-start; // needed for sticky inside a flex

  &.visible {
    display: block;
  }

  &.hidden {
    display: none;
    height: 0;
  }
}

.ptx-toc {
  --codenumber-pad-left: 0.3rem;
  --codenumber-pad-right: 0.5rem;

  --toc-indent-first: calc(1.0rem + var(--codenumber-pad-left) + var(--codenumber-pad-right));
  --toc-indent-second: calc(1.7rem + var(--codenumber-pad-left) + var(--codenumber-pad-right));
  --toc-indent-third: calc(2.2rem + var(--codenumber-pad-left) + var(--codenumber-pad-right));

  background: var(--toc-background);

  margin: 0;
  font-size: 0.9rem;

  /* -------------------toc-items-------------------- */
  // will be less indentation, add some padding
  &:is(.depth1, .parts.depth2) {
    --codenumber-pad-right: 0.5rem;
  }

  .toc-item-list {
    margin: 0;
    padding: 0;
    list-style: none;
    background: var(--tocitem-background);

    .active {
      list-style: none; // clobber runestone css
    }
  }

  .toc-item {
    background-color: var(--tocitem-background);
    color: var(--toc-text-color);
    border-color: var(--toc-border-color);

    a {
      color: inherit;
    }

    // only highlight lowest level active item
    // need !important to override later depth based css
    &.active:not(:has(.toc-item.active)) {
      color: var(--tocitem-active-text-color) !important;
      background-color: var(--tocitem-active-background) !important;
      border-color: var(--tocitem-active-border-color) !important;
    }

    // hoving over a toc item
    & > .toc-title-box > a:is(:hover, :focus) {
      color: var(--tocitem-highlight-text-color);
      background-color: var(--tocitem-highlight-background);
      border-color: var(--tocitem-highlight-border-color);
    }
  }

  /* -------------------title-box------------------- */

  .toc-title-box {
    display: flex;
  }

  .toc-title-box > .internal {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding: 0.2em;
    font-weight: 500;
  }

  /* at second level, switch fonts */
  .toc-item-list .toc-item-list .toc-title-box > .internal {
    font-weight: normal;
  }

  /* -------------------codenumbers-------------------- */
  .codenumber {
    min-width: var(--toc-indent-first);
    padding-left: var(--codenumber-pad-left);
    padding-right: var(--codenumber-pad-right);
    display: inline-block;
    text-align: left;
    flex-grow: 0;
  }
}



// --------------------------------------------------------------------------
// Conditional styling based on depth

.ptx-toc .toc-item {
  color: var(--toclevel1-text-color);
  background-color: var(--toclevel1-background);
}

.ptx-toc .toc-item .toc-item {
  color: var(--toclevel2-text-color);
  background-color: var(--toclevel2-background);
}
.ptx-toc .toc-item  .toc-item .toc-item {
  color: var(--toclevel3-text-color);
  background-color: var(--toclevel3-background);
}


/* second level of numbering */
/*  anything 1+ levels deeper than a chapter in a book */
.book .ptx-toc .toc-chapter .toc-item-list .codenumber,
/*  anything 1+ levels deeper than a section in an article */
.article .ptx-toc .toc-section .toc-item-list .codenumber,
/*  anything 1+ levels deeper than backmatter */
.ptx-toc .toc-backmatter .toc-item-list .codenumber {
  font-size: 80%;
  padding-top: 0.16em;
  min-width: var(--toc-indent-second);
}

/* third level of numbering */
/*  anything 2+ levels deeper than a chapter in a book */
.book .ptx-toc .toc-chapter .toc-item-list .toc-item-list .codenumber,
/*  anything 2+ levels deeper than a section in an article */
.article .ptx-toc .toc-section .toc-item-list .toc-item-list .codenumber,
/*  anything 2+ levels deeper than backmatter */
.ptx-toc .toc-backmatter .toc-item-list .toc-item-list .codenumber {
  min-width: var(--toc-indent-third);
  visibility: hidden;
}

/* reveal hidden numbers on interaction */
.ptx-toc .toc-item-list .toc-item-list .toc-item-list a:is(:hover, :focus) > .codenumber {
  visibility: visible;
}

/* Any toc item without a codenumber needs indentation
Can't select absence of a preceeding, so indent all titles
and then clear indent if there is a codenumber */
.ptx-toc .toc-item .toc-title-box .title {
  margin-left: var(--toc-indent-first);
}

/* second level as defined by codenumber selectors */
.book .ptx-toc .toc-chapter .toc-item-list .title,
.article .ptx-toc .toc-section .toc-item-list .title,
.ptx-toc .toc-backmatter .toc-item-list .title {
  margin-left: var(--toc-indent-second);
}

/* third level as defined by codenumber selectors */
.book .ptx-toc .toc-chapter .toc-item-list .toc-item-list .title,
.article .ptx-toc .toc-section .toc-item-list .toc-item-list .title,
.ptx-toc .toc-backmatter .toc-item-list .toc-item-list .title {
  margin-left: var(--toc-indent-third);
}

/* unless there is a codenumber */
.ptx-toc .toc-item > .toc-title-box .codenumber + .title {
  margin-left: 0 !important;
}

// --------------------------------------------------------------------------
// Conditional styling based on depth


.ptx-toc .toc-chapter .toc-item-list .title,
.ptx-toc .toc-section .toc-item-list .title,
/* 2 levels deep in back matter */
.ptx-toc .toc-backmatter .toc-item-list .toc-item-list .title {
  font-size: 90%;
}

.ptx-toc .toc-chapter .toc-item-list .toc-item-list .title,
.ptx-toc .toc-section .toc-item-list .toc-item-list .title,
/* 3 levels deep in back matter */
.ptx-toc .toc-backmatter .toc-item-list .toc-item-list .toc-item-list .title {
  font-style: italic;
}

/* -------------------depth controls-------------------- */
.ptx-toc.depth0 ul.structural {
  display: none;
}

.ptx-toc.depth1 ul.structural ul.structural {
  display: none;
}

.ptx-toc.depth2 ul.structural ul.structural ul.structural {
  display: none;
}

.ptx-toc.depth3 ul.structural ul.structural ul.structural ul.structural {
  display: none;
}

.ptx-toc.depth4 ul.structural ul.structural ul.structural ul.structural ul.structural {
  display: none;
}

/* if depth is shallow, identify best available toc item */
.ptx-toc.depth1 ul.structural .toc-item.contains-active {
  background-color: var(--tocitem-active-backgrounde);
  color: var(--tocitem-active-text-color);
}

.ptx-toc.depth2 ul.structural ul.structural .toc-item.contains-active {
  background-color: var(--tocitem-active-background);
  color: var(--tocitem-active-text-color);
}


// --------------------------------------------------------------------------
// Focused toc

/* Hide all but active area of book */
.ptx-toc.focused {

  ul.structural:not(.contains-active) > .toc-item {
    display: none;

    &.visible {
      display: block;
    }
  }

  ul.structural .toc-item.active > ul.structural > .toc-item {
    display: block;

    &.hidden {
      display: none;
    }
  }

  .toc-expander {
    border: 0;
    padding: 2px 5px;
    background: inherit;
    color: inherit;
    display: flex;
    align-items: center;

    .icon {
      font-size: 1.25em;
      line-height: 18px;
      font-variation-settings: 'wght' 200;
    }

    &:is(:hover) {
      background-color: var(--tocitem-highlight-background);
      color: var(--tocitem-highlight-text-color);

      .icon {
        fill: var(--tocitem-highlight-text-color);
      }
    }
  }

  /* ---------------icon customization----------------- */
  .toc-item > .toc-title-box > .toc-expander > .icon:before {
    content: "add";
  }

  .toc-item.expanded > .toc-title-box > .toc-expander > .icon:before {
    content: "remove";
  }
}
