# Configuration file for MathBook XML's "mbx" script

# **********************************************************************
# Copyright 2014 Robert A. Beezer
#
# This file is part of MathBook XML.
#
# MathBook XML is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 or version 3 of the
# License (at your option).
#
# MathBook XML is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with MathBook XML.  If not, see <http://www.gnu.org/licenses/>.
# ***********************************************************************

# ***********************************************************************
#                       DO NOT EDIT THIS FILE
#
#   IT WILL BE OVERWRITTEN WITH UPDATES AND YOUR CHANGES WILL BE LOST
#
# Instead, make a copy as  mathbook/user/mbx.cfg
# (Create the  user  directory at the same level as the script directory)
# And perhaps delete this notice, as it may confuse you
# Only the options needing changes need to be listed in custom version
# Once you make a copy, you will need to add new configuration items
# "by hand", which is why there is a history of changes below
# ***********************************************************************

# History
#
# 2015-12-20  Initiated history to track option additions
# 2016-05-06  Added pdfcrop executable line
# 2018-04-27  Added pageres executable line

[executables]
xslt = xsltproc
tex = xelatex
pdfsvg = pdf2svg
asy = asy
sage = sage
pdfpng = convert
pdfeps = pdftops
pdfcrop = pdfcrop
pageres = pageres
