$color: var(--primary-color) !default;
$text-color: white !default;

@use 'components/page-parts/extras/toc-expand-chevrons';


.hide-type .codenumber:not(:empty)::after {
    content: " ";
}

// Apply blocks of colors to headings when not in dark mode
//:root {
//  &:not(.dark-mode) {
//    section > .heading{
//      background: var(--primary-color-white-30);
//      padding: 5px;
//      padding-left: 15px;
//      color: var(--page-color);
//      border-radius: 2px;
//    }

//    // Section heading is extra dark
//    section.section > .heading{
//      background-color: var(--primary-color);
//    }
//  }
//}