// Basic rules for printing a standard PreTeXt page

// Get rid of UI elements.
// Leave margin fiddling for system print dialog.

// Worksheet printing is handled in print-worksheet.scss

@media print {
  .pretext .ptx-masthead,
  .pretext .ptx-navbar,
  body.pretext > a.assistive,
  .pretext .ptx-page > .ptx-sidebar,
  .pretext  .ptx-page-footer,
  .pretext .ptx-main > div.ptx-content-footer {
    display:none;
  }

  .pretext .ptx-main .ptx-content {
    margin-left: auto;
    margin-right: auto;
    border:none;
    padding: 0;
  }
}