// TODO refactor

// Rules in this file apply to both screen and print
// Print specific rules should go in a file in targets/print-worksheet stylesheet


.heading .print-links {
  display: inline-block;
  float: right;
  vertical-align: top;
  width: 19%;
  text-align: right;

  & > a {
    font-family: var(--font-body);
    font-size: 0.6em;
    font-weight: bold;
    padding: 0.1em 0.2em;
    background: #ffa;
    border: 2px solid green;

    &.us {
      background: #eef;
      color: #9b1c2c;
      border-color: #041E42;
    }

  }
  & > a + a {
    margin-left: 0.25em;
  }
}

.print-button {
  position: relative;
  right: 2px;
  background-color: LightGreen;
  z-index: 1;
  float: right;
}


.standalone.worksheet {
  .print-links{
    display: none;
  }
}

// Todo, refactor below into nested rules

/* one-page documents in the browser */
body.standalone.worksheet .onepage > .heading {
  margin-top: 0;
  font-size: 1.3em;
}
body.standalone.worksheet .onepage > .introduction {
  margin-top: 0.4em;
}
body.standalone.worksheet .onepage > .introduction > .heading {
  font-size: 1.1em;
}
body.standalone.worksheet .onepage .solutions,
body.standalone.worksheet .onepage .instructions {
  display: none;
}
body.standalone .worksheet {
  padding: 40px 0 45px 0;
  border: 2px solid grey;
  margin: 0;
}

body.standalone .onepage {
  padding: 40px 45px 45px 55px;
  border-bottom: 2px solid grey;
  margin: 0;
}
body.standalone .onepage + .onepage {
  border-top: 2px solid grey;
}
/* there may be worksheet content before the first page
 or after the last page
*/
body.standalone .onepage.firstpage {
  padding-top: 0
}
body.standalone .onepage.lastpage {
  padding-bottom: 0;
  border-bottom: none;
}

body.standalone .worksheet > *:last-child {
  padding-bottom: 0 !important
}
.onepage + .onepage {
  margin-top: 2.5em;
  padding-top: 1.5em;
  border-top: 1px dashed #aaa;
}
.onepage + .onepage::before {
  content: "pagebreak";
  text-align: center;
  margin-left: 40%;
  padding-left: 1em;
  padding-right: 1em;
  position: absolute;
  top: -0.8em;
  font-size: 80%;
  font-style: italic;
  background: var(--content-background);
}

body.standalone .onepage + .onepage {
  margin-top: 10px;
}
body.standalone .onepage + .onepage::before {
  content: none;
}

body.standalone .onepage article {
  padding-left: 0;
  border: none;
}
body.standalone .onepage article::after {
  all: unset;
}
.onepage > .para:first-child,
.onepage > article:first-child {
  margin-top: 0;
}
section + .onepage.firstpage,
article + .onepage.firstpage,
.para + .onepage.firstpage {
  margin-top: 1.25em;
}

/* not good, because of image next to image
.onepage .sbspanel + .sbspanel {
  padding-left: 1.25em;
  border-left: 1px solid grey;
  margin-left: -1.25em;
}
*/
body.worksheet .onepage .sbspanel + .sbspanel > .exercise::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-left: 1.25em;
  border-left: 1px solid grey;
  margin-left: -1.25em;
  z-index: -100;  /* to not block editable content */
}

body.standalone.worksheet section article.task {
  margin-left: 0;
}
body.standalone.worksheet section article.task > .heading {
  font-weight: normal;
}

body.standalone .autopermalink {
  display: none;
}

body.standalone.worksheet .onepage .workspace {
  border: 2px dotted grey;
  background: #f3fff3;
/*  Sally suggests light and dark blue
  background: linear-gradient(
      #eef 0px, #eef 200px,
      #eef 200px, #99f 205px,
      #99f 205px, #99f 100%)
*/
}
body.standalone.worksheet .onepage .workspace.squashed {
  border: 2px dotted grey;
  background: #ffe;
}

body.standalone.worksheet .onepage .workspace.squashed.tight {
  border: 15px solid;
  border-image: repeating-linear-gradient(
    -35deg,
    #f33,
    #f33 10px,
    #000 10px,
    #000 20px
  ) 20;
/*
  background: linear-gradient(
      #ff0 0%, #ff0 8%,
      #000 8%, #000 9%,
      #ff6 9%, #ff6 17%,
      #555 17%, #555 19%,
      #ff8 19%, #ff8 26%,
      #777 26%, #777 29%,
      #ffa 29%, #ffa 37%,
      #aaa 37%, #aaa 41%,
      #ffd 41%, #ffd 48%,
      #ccc 48%, #ccc 52%,
      #ffd 52%, #ffd 59%,
      #aaa 59%, #aaa 63%,
      #ffa 63%, #ffa 71%,
      #777 71%, #777 74%,
      #ff8 74%, #ff8 81%,
      #555 81%, #555 83%,
      #ff6 83%, #ff6 91%,
      #000 91%, #000 92%,
      #ff0 92%, #ff0 100%
      );
*/
  background: yellow;
}

body.has-sidebar-left.mathbook-loaded.standalone.worksheet .ptx-page .ptx-main {
  margin-left: 0;
}

body.standalone.worksheet .goal-like {
  border: none;
  padding: 0;
}
body.standalone.worksheet .goal-like > .heading {
  margin-top: -0.5em;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}
body.standalone.worksheet section.worksheet > .heading {
  display: inline;
  font-size: 1.1em;
}
/* becaues the worksheet has no side margins but the .onepage does */
body.standalone.worksheet section.worksheet > .heading,
body.standalone.worksheet section.worksheet > .objectives,
body.standalone.worksheet section.worksheet > .introduction,
body.standalone.worksheet section.worksheet > .conclusion {
  margin-left: 55px;
  margin-right: 40px;
}
body.standalone.worksheet section.worksheet > .heading + .para {
  display: inline;
}

.standalone.worksheet [data-knowl]:hover,
.standalone.worksheet [data-knowl]:active,
.standalone.worksheet [data-knowl].active {
  background: none;
  color: black;
}
.standalone.worksheet [data-knowl]::after {
  border: none;
}
