// Use this file for anything common to kindle and epub
@use 'components/pretext';
// TODO... needed???
// @use 'colors/legacy/all_colors.scss';
// @use 'colors/legacy/setcolors.css';

// Note: Not sure if .ptx-content.epub selectors need to be different than the
// .ptx-content selectors below. They were different in source files this
// was constructed from.

.ptx-content.epub {
    img {
        display: block;
    }

    .solutions {
        margin-top: 1em;

        .solution .type,
        .answer .type {
            font-family: "PT Serif", "Times New Roman", Times, serif;
            font-weight: bold;
        }

        .solution .type + .period,
        .answer .type + .period {
            margin-right: 0.75em;
        }

        .solution .type + p,
        .answer .type + p {
            display: inline;
        }
    }


    article.theorem-like,
    article.definition-like,
    article.example-like,
    article.project-like,
    article.remark-like,
    article.openproblem-like,
    article.openproblems-like,  /* delete once markup is fixed */
    article.computation-like {
        margin-left: 1px;
    }

    .proof {
        margin-right: 1px;
    }
} // .ptx-content.epub

.ptx-content {
    // sage cell code goes in a pre.  What else goes there? 
    pre {
        font-size: 95%;
        padding-top: 0.3em;
        padding-bottom: 0.5em;
        padding-left: 0.5em;
        background: #f0f0f0;
    }

    pre.code.input {
        background: #f0f0ff;
    }

    pre.code.output {
        background: #f0fff0;
    }

    // Placeholder template to use for section headings, will be extended
    //  here and in other files
    // The "break-(before/after) might not actually do anything
    %section-heading {
        display: block;
        margin-top: 0;
        break-after: avoid !important;
    }

    section > .heading {
        @extend %section-heading;
    }

    // Placeholder extended here and in other files
    %section-heading-p {
        display: block;
        break-before: avoid !important;
    }

    section > .heading + p {
        @extend %section-heading-p;
    }

    figcaption {
        break-before: avoid !important;
    }

    figure {
        break-inside: avoid !important;

        .image-box,
        .tabular-box {
            break-after: avoid !important;
        }
    }
} // .ptx-content
