
// --------------------------------------------------------------------------
// Flexible / centered widening of rs elements

$content-width: 725px !default;
$content-side-padding: 48px !default;

$content-with-padding-width: $content-width + 2 * $content-side-padding;

// core logic
@use "rs-widen-base" as rs-widen-base with (
  $content-width: $content-width,
  $content-side-padding: $content-side-padding
);

// access the variables from rs-widen-base
$rs-wide-elements: rs-widen-base.$rs-wide-elements;
$grouping-elements: rs-widen-base.$grouping-elements;
$wide-elements: rs-widen-base.$wide-elements;

//--------------------------------------------------------
// code that is salem specific - not used by denver

// now handle smaller screens
@container ptx-main (width < 850px) {
  .ptx-runestone-container:has(#{$rs-wide-elements}), #{$wide-elements} {
    width: calc(100cqw);
    margin-left: calc(-0.5*(100cqw - 100%));
  }
  :is(#{$grouping-elements}):has(#{$rs-wide-elements}, #{$wide-elements}) {
    width: calc(100cqw);
    margin-left: calc(-0.5*(100cqw - 100%));
  }
  :is(#{$grouping-elements}, #{$wide-elements}) .ptx-runestone-container:has(#{$rs-wide-elements}, #{$wide-elements}) {
    width: calc(100% + 10px);  //cheat into padding
    margin-left: -5px;
  }
}
