
// --------------------------------------------------------------------------
// Flexible / centered widening of rs elements

$content-width: 725px !default;
$content-side-padding: 48px !default;

$content-with-padding-width: $content-width + 2 * $content-side-padding;

// core logic
@use "rs-widen-base" as rs-widen-base with (
  $content-width: $content-width,
  $content-side-padding: $content-side-padding
);

// access the variables from rs-widen-base
$rs-wide-elements: rs-widen-base.$rs-wide-elements;
$grouping-elements: rs-widen-base.$grouping-elements;
$wide-elements: rs-widen-base.$wide-elements;

//--------------------------------------------------------
// code that is salem specific - not used by denver

// now handle smaller screens
@container ptx-main (width < 850px) {
  .ptx-runestone-container:has(#{$rs-wide-elements}), #{$wide-elements} {
    width: calc(100cqw);
    margin-left: calc(-0.5*(100cqw - 100%));
  }
  :is(#{$grouping-elements}):has(#{$rs-wide-elements}, #{$wide-elements}) {
    width: calc(100cqw);
    margin-left: calc(-0.5*(100cqw - 100%));
  }
  :is(#{$grouping-elements}, #{$wide-elements}) .ptx-runestone-container:has(#{$rs-wide-elements}, #{$wide-elements}) {
    width: calc(100% + 10px);  //cheat into padding
    margin-left: -5px;
  }
}


/* limit width of content inside ac except for actual activecode */
.runestone.ac_section
  > div
  > div
  > *:not(.ac_code_div):not(.ac_output):not(.codelens):not(.ac_actions) {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
}

/* limit width of statement and success/error message inside hparson */
.hparsons_section .hp_question,
.hparsons_section .hp_feedback {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
}

/* limit width of content inside parsons except for actual parsons */
.runestone.parsons_section > .parsons {
  width: 100%;
  padding-right: 0;

  .sortable-code-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 15px;
    margin: 10px auto;
  }

  .sortable-code {
    margin: 0;
  }

  .runestone_caption_text {
    max-width: unset;
  }

  & > div > *:not(.sortable-code-container) {
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
  }
}
