/*! Theme: print-worksheet */

// Used for print versions of worksheets (including their previews) for all themes

// File is only included in standalone printable worksheet pages (the print preview pages).
// Most rules apply to both screen and print; rules at the bottom of the file split into these two cases.

// Also see:
// components/_printing.scss : base rules for printing a standard PreTeXt page - removes UI
// components/_worksheet.scss : rules that apply to worksheets in context and in print/preview.

// Current maintainer: Oscar Levin

// ---------------------------------------------
// Grouping containers - based off of those in default-modern
@use 'chunks-worksheet' with ($border-radius: 0);

// Bring in the standard PreTeXt styles for components
@use 'components/pretext';

// Use underline style headings
//@use 'components/elements/extras/heading-underlines';

// Make sure fonts are available
@use 'fonts/fonts-google';

// For the print button
@use 'components/helpers/buttons-default' as buttons;


// Make sure we are including the root colors using simple black-and-white palette
@use "colors/color-helpers" as colorHelpers;
@use 'colors/palette-single' as palette with (
  $primary-color: black,
);

// render the actual colors
@include colorHelpers.set-root-colors(palette.$colors);

// ---------------------------------------------
// concrete rules / includes that generate CSS

// Set variables for default width and margins
:root {
  --ws-width: 8.5in; // Default width for worksheets
  --ws-height: 11in; // Default height for worksheets
  --ws-top-margin: 40px; // Default top margin for worksheets
  --ws-right-margin: 55px; // Default right margin for worksheets
  --ws-bottom-margin: 45px; // Default bottom margin for worksheets
  --ws-left-margin: 45px; // Default left margin for worksheets

  --ws-content-width: calc(var(--ws-width) - var(--ws-right-margin) - var(--ws-left-margin));
  --ws-content-height: calc(var(--ws-height) - var(--ws-top-margin) - var(--ws-bottom-margin));
}




// Remove surrounding UI elements
  .pretext .ptx-masthead,
  .pretext .ptx-navbar,
  body.pretext > a.assistive,
  .pretext .ptx-page > .ptx-sidebar,
  .pretext  .ptx-page-footer,
  .pretext .ptx-main > div.ptx-content-footer {
    display:none;
  }

  // Remove the print preview link
.heading .print-links {
  display: none;
}

 .autopermalink {
  display: none;
}

// Some elements don't make sense to print:
//   image descriptions
//   webwork "activate" buttons
//   buttons in general (to remove Runestone "Check Me" button)
// We remove these here.
details.image-description,
.ptx-content .webwork-button,
.ptx-runestone-container button.btn {
  display: none;
}


// Set font appropriate for printing
section.worksheet, section.handout {
  font-size: 11pt;
  font-family: var(--font-print);
}

// .onepage is the common class that wraps all content in a single worksheet page (often modified by the javascript)
 .onepage > .heading {
  margin-top: 0;
  font-size: 1.3em;
}

.onepage .instructions {
  display: none;
}


// Try to make an open solution knowl look less strange.  Eventually the print version of worksheets should create HTML that isn't a details element.
// NB specify that this only happens inside worksheets/handouts and not in the print-controls area.
.worksheet summary::marker, .handout summary::marker {
  content: "";
}

summary {
  font-weight: bolder;
  display: inline;
}

.knowl__content {
  display: inline;
  margin: unset;
  border: none;
  padding: 3px 0;
  background-color: unset;
}

.knowl__link {
  all: unset
}

.code-inline {
  border: unset;
  background: unset;
}

.onepage article {
  padding-left: 0;
  border: none;
}

.onepage article::after {
  all: unset;
}

.onepage > .para:first-child,
.onepage > article:first-child {
  margin-top: 0;
}


// Some headings have larger top-margins than their parent section, so we fix that here.
.onepage > section > .heading {
  margin-top: 0;
}

// tasks might be "free-floating" articles, in which case they should get the same indenting as tasks inside exercises.
 section article.task {
  margin-left: 20px;
}

section.worksheet > .heading, section.handout > .heading {
  display: inline;
  font-size: 1.1em;
}

section.worksheet > .heading + .para, section.handout > .heading + .para {
  display: inline;
}

.introduction, .conclusion {
  > .heading {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0;
    border-bottom: none;
    + .para {
      margin-top: 0.5em;
    }
  }
}

form.papersize-select {
  padding-bottom: 8px;
}




// Screen specific styles (mostly for showing the border around a worksheet with it's "margins" and for the print controls)
@media screen {
  .ptx-main {
    max-width: var(--ws-width);
    margin: 50px auto;
  }

  .worksheet, .handout {
    max-width: var(--ws-width);
    margin: 0 auto;
  }

  .onepage {
    width: 100%;
    height: var(--ws-height);
    padding: var(--ws-top-margin) var(--ws-right-margin) var(--ws-bottom-margin) var(--ws-left-margin);
    box-shadow: 5px 10px 40px -10px;
  }

  // Set space between pages
  .onepage + .onepage {
    margin-top: 2.5em;
  }


  .workspace-container {
    display: flex;
    overflow: visible;
  }

  .workspace {
    width: 100%;
  }

  .highlight-workspace .onepage .workspace {
    border: 1px dashed grey;
    background: hsl(224, 100%, 95%);
  }

  // Normally, the .workspace.original is hidden in the print preview, but if the highlight-workspace checkbox is checked, it will be shown.
  .onepage .original-workspace {
    display: none;
  }

  .highlight-workspace .onepage .original-workspace {
    display:block;
    width: 10px;
    background: hsl(152, 29%, 65%);
  }

  .highlight-workspace .onepage .warning {
    background: hsl(36, 65%, 67%);
  }

  .print-button {
  @include buttons.ptx-button;
  }

  .papersize-select {
    z-index: 1;
    .name::after {
      content: ": ";
    }
  }

  .print-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
  }

// Style the additional printing options the same as we do for knowls
  .print-options {
    summary {
      cursor: pointer;
      display: list-item inline;
    }

    .hide-option {
      display: inline-block;
      padding-right: 1em;
    }
  }
}


// Print specific styles
@media print {
  body {
    margin: 0;
    padding: 0;
    width: var(--ws-content-width);
  }

  .print-preview-header {
    display: none;
  }

  section.worksheet, section.handout {
    border: none;
    width: 100%;

    .onepage {
      margin-top: 0;
      width: 100%;
      height: var(--ws-content-height);
      overflow: hidden;
      page-break-after: always;
      page-break-inside: avoid;
    }
    // Never show the workspace preview in print
    div.workspace,
    div.workspace.squashed.tight {
      border: none;
      padding: 0;
      background: none !important;
    }
  }

  a {
    color: black;
  }

  @page {
    // Note: when we allow custom margins, the javascript will need to change these defaults.
    // Default margins appear to be necessary for Firefox and Safari (Chrome already works with the variable values).
    margin: var(--ws-top-margin, 40px) var(--ws-right-margin, 55px) var(--ws-bottom-margin, 45px) var(--ws-left-margin, 45px);
  }
}
